[2020-07-24 21:47] #203 closed

[2020-07-24 21:48] cobbr commented on #202
Closing due to lack of response. Let me know if the issue persists and we can re-open.

[2020-07-24 21:48] #202 closed

[2020-07-24 21:51] cobbr commented on #209
@isafe I'll probably need more detail with why you think this is a Covenant issue rather than an issue with the nginx setup?

[2020-07-24 21:51] cobbr commented on #197
Closing for now. Let me know if the issue persists and we can re-open.

[2020-07-24 21:51] #197 closed

[2020-07-24 22:05] cobbr commented on #148
Hey @SadProcessor , sorry I missed this issue earlier on. My guess, is this has something to do with specifying _only_ the ID of the linked object. For instance, it looks like ReferenceSourceLibraries are currently linked in by name when creating the GruntTask.

I'd try specifying the name at a minimum, maybe specify the whole object.

[2020-07-24 22:08] cobbr commented on #147
Sorry for missing this issue earlier on @SadProcessor , I think this should be fixed now. Let me know if you are able to verify that this works now.

[2020-07-24 22:09] cobbr commented on #123
Closing for now. Let me know if you still have issues and we can re-open.

[2020-07-24 22:09] #123 closed

[2020-07-24 22:10] dodiorne opened #211 "stuck at Using Covenant certificate with hash: 2068EC21...."
Wanting to get up to speed on this tool.

I've tried fresh installs on Kali/ParrotOS/W10.  All of them yield the same hangup.

sudo dotnet --list-runtimes
Microsoft.NETCore.App 3.1.6 [/usr/share/dotnet/shared/Microsoft.NETCore.App]

[2020-07-24 22:12] cobbr commented on #211
Navigate to `https://localhost:7443` in a browser

[2020-07-24 22:12] #211 closed

[2020-07-24 23:06] dodiorne commented on #211
I think i missed part of this in the original message.  will try your suggestion and reply in a minute.

PS /home/osboxes/htb/Covenant/Covenant> sudo /root/.dotnet/dotnet run
warn: Microsoft.EntityFrameworkCore.Model.Validation[10400]
      Sensitive data logging is enabled. Log entries and exception messages may include sensitive application data, this mode should only be enabled during developme

[2020-07-24 23:08] dodiorne commented on #211
facepalm

i was waiting for the indication like in the instructions.  thank you!

[2020-07-25 10:19] isafe commented on #209
@3lpsy  It's work for me. Thank you !

[2020-07-25 10:19] #209 closed

[2020-07-26 03:29] manasmbellani commented on #123
Sorry, I couldn't respond earlier, I am not encountering this issue anymore in the latest version. Thanks for the followi-up @cobbr.

[2020-07-27 18:26] cobbr commented on #132
Unfortunately, I haven't been able to reproduce this issue. I didn't have a Windows 2012 server handy, but tested on 2016 and 2008. Were you experiencing this issue on those OS as well?

[2020-07-28 05:19] h0nus commented on #132
Hi.
Nope, I haven't tested on those version, only on 2012.
But this days i'll take a look.

[2020-07-28 13:36] mepher commented on #143
Try this: update to support TLS 1.2 `(SecurityProtocolType)3072`

Line 61 in the Grunt Template StagerCode :
`ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072 | SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls;
`
Line 608 in the Grunt Template ExecutorCode
`ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072 | SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls;

[2020-07-28 13:41] mepher opened #212 "[Bug and Feature Request] Please update to support TLS 1.2"
The grunt call back fails when using strict TLS 1.2 enforcing domain fronts, to fix this change to support TLS 1.2 && use `(SecurityProtocolType)3072`

Line 61 in the Grunt Template StagerCode :
`ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072 | SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls;`
Line 608 in the Grunt Template ExecutorCode
`ServicePointManager.SecurityProtocol

[2020-07-29 14:32] b4b857f6ee opened #213 "[Bug] Proxy aware payload"
**Feature Request or Bug**
Bug ?

**Describe the feature request or bug**
I can't find in the documentation but Covenant didn't generate proxy aware payload?

**To Reproduce**
Steps to reproduce the behavior:
1. Run payload behind a proxy, for exemple a lan with a squid proxy to go outside.

**Expected behavior**
Connect to the C2 from a LAN behind a proxy

**Screenshots**

**Covenant Server Infor

[2020-07-29 14:34] cobbr commented on #213
Hi @b4b857f6ee , a Grunt will use the default proxy configured on a Windows system, but it's not going to detect a transparent proxy that isn't configured as the system's default proxy. It really has no way of doing that, but you could hard-code a transparent proxy if you needed to do so.

[2020-07-30 09:51] b4b857f6ee commented on #213
Ok so i need to found why my payload connect once and get untrusted and i can't run command to it...
Maybe you have an idea?

[2020-07-30 16:30] emmasuki commented on #116
@cobbr yes it's fixed, tested on latest covenant, it now display an alert about required fields

[2020-07-30 16:30] #116 closed

[2020-07-31 14:37] Anonymejo opened #214 "Do not create the link please help me"
root@kali:~/Covenant/Covenant# dotnet build
Microsoft (R) Build Engine version 16.6.0+5ff7b0c9e for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  All projects are up-to-date for restore.
  Covenant -> /root/Covenant/Covenant/bin/Debug/netcoreapp3.1/Covenant.dll
  Covenant -> /root/Covenant/Covenant/bin/Debug/netcoreapp3.1/Covenant.Views

[2020-07-31 14:49] cobbr commented on #214
Navigate to https://localhost:7443 in a browser.

[2020-07-31 14:49] #214 closed

[2020-08-02 09:29] dtyj opened #215 "[Bug] Listener Profile Httpurls - Value cannot be null after generating launcher payload"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Modifying Httpurls in Listener profile creates an unexpected error when generating Launchers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Listener Profile (CustomHttpProfile)
2. Edit the default Httpurls from '/en-us' to '/en/usa'.
3. Generate and execute launcher payload
4. See error

**Expected behavior**
Gru

[2020-08-04 06:56] antisnatchor opened #217 "[Bug] Unhandled Exception on /listener/create"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
It appears I can't create Listeners

**To Reproduce**
Fresh installation of Covenant on Ubuntu server, Dotnet 3.1.
dotnet build. dotnet run (as root).
After creting a new user, go to https://IP:7443/listener/create

**Expected behavior**
Listener create page. Instead I always get an exception. The error seems to be in blazor_s

[2020-08-04 07:16] antisnatchor commented on #217
NOTE: I can't replicate using Docker. With docker IT WORKS.

However, it must be something related in the dotnet sdk upgrades in Ubuntu.

I remember it used to work fine in May 2020, with the native build.
Using .NET 3.1.302 on Ubuntu 18. a dotnet clean before the dotnet build/run doesn't seem to make any diff.

[2020-08-04 18:44] TheWover commented on #32
Heathen mode now supported in v0.6. Welcome to the dark side.

[2020-08-04 18:44] #32 closed

[2020-08-04 18:47] cobbr commented on #32
Thanks for the head start on this one @mrjamiebowman. I have been defeated...

[2020-08-04 19:09] mrjamiebowman commented on #32
Aweesome!!!!! 🥳

[2020-08-05 10:02] s3nn commented on #143
@mepher thanks, but can you explain (if you know) why changing the cert for the admin interface changes the cert used by grunts?

[2020-08-06 01:50] juliourena opened #218 "[Bug] Upload different file"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
I can't reproduce this, but I have seeing the error more than 3 times. When using upload the file uploaded is not the correct one, I can't validate if was previos one or if it get mess-up in the transfer.

I think, I'm not sure that it happens with Assembly Execution too.

**Expected behavior**
Upload correct file

**Screensho

[2020-08-08 07:45] rgzn-aiyun opened #219 "Docker cannot start"
Error: git submodules have not been initialized
Covenant's submodules can be cloned with: git clone --recurse-submodules https://github.com/cobbr/Covenant
Or initialized after cloning with: git submodule update --init --recursive

[2020-08-09 14:50] frenkel opened #220 "Please tag v0.6"
v0.6 was released according to [this blogpost](https://posts.specterops.io/covenant-v0-6-134c5054505f). It seems it was not pushed to Github though. Could you please push the tag?

[2020-08-09 14:56] frenkel commented on #219
Are you using SELinux? For me it helps to temporarily disable it by running `setenforce 0`.

[2020-08-10 01:25] rgzn-aiyun commented on #219
SELINUX is closed, not for this reason

[2020-08-10 09:38] MarcOverIP opened #221 "[Feature Request] Logging required for RedELK integration"
**Feature Request**
We would want to have Covenant log its actions to a log file so we can work on RedELK integration (https://github.com/outflanknl/RedELK)
Covenant currently has some data in its sqlite db. But the info is not really sufficient and its not really doable for RedELK to parse that file in search for relevant logs.

**Expected behavior**
Ideally the logging by Covenant is done 1) tex

[2020-08-10 12:51] checkymander commented on #221
So Covenant has an "Event Hub" that can be subscribed to, which is a websocket that pushes events happening out to everyone who's subscribed. Is that something that could be used, or does it have to be written out to a log file?

[2020-08-10 13:38] MarcOverIP commented on #221
As far as RedELK goes I would like keep the C2 adapters as simple and default as possible. That means that for current supported C2 frameworks PoshC2 we ingest text based logs with a simple filebeat config (default package part of the Elastic stack). Now, Filebeat can work with txt, json or whatever txt based logging. Websocket is not supported.

Theoretically we could make a Covenant specific ada

[2020-08-10 13:42] fastlorenzo commented on #221
If such "Event Hub" already exists, shouldn't it be possible to integrate a listener in Covenant that writes event to a log file?

[2020-08-10 15:18] checkymander commented on #221
Digging into the code it looks like the concept of logging does exist, however the only time it outputs is if there's a fatal error when starting a listener/covenant. @cobbr, do you have thoughts on expanding the existing loggers to be covenant-wide and include more logging (e.g. Initial Grunt/Brute Callback, Grunt/Brute tasking, etc etc)?

[2020-08-10 15:58] cobbr commented on #221
I agree that it makes more sense for Covenant to implement better logging than for redelk to try to turn websockets events into a coherent log.

It's going to take some time to fine tune the logging just right. The last time I tried to enable logging, the logs would eat up all available hard drive space in a matter of days, lol.

[2020-08-10 19:43] MarcOverIP commented on #221
Please don't overdo it ;-)

If you can get the same level of details as Cobalt Strike does, it should be good!

[2020-08-13 16:11] Flangvik commented on #217
I can confirm having the same issue, worked fine just months ago.

[2020-08-14 09:42] artofwar2306 opened #222 "[Bug] Token impersonation issue"
**Bug**
Bug

**Describe the feature request or bug**
Hi I have been testing out v0.6 and noticed that when i attempt to create a Token it is created, however when i attempt to list out the remote machines directory i get an access denied error message.

Also when i attempt to run Powershell commands using the Interactive menu the input seems to not be read, i there fore need to go into the Task me

[2020-08-16 16:40] 3xpl01tc0d3r opened #223 "Output for Rubeus monitor task is not shown in the grunt console"
**Bug**

While running `Rubeus monitor /interval:5` task I don't see any output of the command.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any existing Grunt and click Interact Tab
2. Run the Rubeus task - Command - Rubeus monitor /interval:5 or Rubeus monitor /interval:1

**Expected behavior**
The output of the Rubeus task should be shown in the grunt console.

**Screenshots**

!

[2020-08-17 12:03] m0n0rchid commented on #219
I am also having this issue:
[code]

[2020-08-17 14:30] gurbanli opened #224 "[Bug] GruntSMB Untrusted"
**Feature Request or Bug**
Bug

Powershell GruntSMB launcher doesn’t work properly. It stays in Untrusted state. I tested in Covenant v0.6

![C4EEE965-F208-4AE7-93F7-BB48F9C16D8E](https://user-images.githubusercontent.com/62652382/90407517-adef4e80-e0b7-11ea-9582-c3667c474260.jpeg)

**Covenant Server Information:**
 - OS: Kali Linux 2020.1
 - Docker or Native: Native

**Target Information (System

[2020-08-17 16:45] craigmar commented on #28
Still seeing similar behavior for both windows 7 and windows 10 with defender disabled.  This does not appear to be a AMSI issue. It seems more like a .nettojscript problem.

Payload creation: Ubuntu16.04 LTS w/ dotnet core installed
Payload execution: Win10 & Win7 Defender disabled.

[2020-08-17 16:52] craigmar opened #225 "Feature Request - Additional code templates"
Feature Request

Similar to the ability to customize C# grunt code templates it would be useful to have the capability create custom templates for the following:

HTA
SCT
Javascript/VBscript
MSBUILD
installutil DLLs
XSL

[2020-08-17 17:32] craigmar opened #226 "Feature Request - Add random value to base64 encoded profile variables placed in the Grunt code"
Feature Request

Windows defender is currently triggering on the base64 encoded value for the word "User-Agent". Since the users are unable to modify the way variables are encoded(base64) within the compiled binary the addition of a user-agent header will trigger a defender detection.

Possible solution:
1. add a random string to each base64 encoded string that is then removed by the grunt code.
2

[2020-08-17 23:29] cobbr commented on #220
It was all pushed, I just forgot to tag it. Done now! Thanks for the reminder @frenkel

[2020-08-17 23:29] #220 closed

[2020-08-18 09:47] frenkel commented on #220
Great, keep up the good work! :+1:

[2020-08-23 22:01] cobbr commented on #219
@rgzn-aiyun Did you clone the repo recursively? `git clone --recurse-submodules https://github.com/cobbr/Covenant`

[2020-08-24 01:08] korang opened #227 "[Bug] bash: :/app/Data: No such file or directory"
Bug

Receiving error when trying to run the docker container:
bash: :/app/Data: No such file or directory

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recurse-submodules https://github.com/cobbr/Covenant
2. cd Covenant/Covenant
3. docker build -t covenant .
Those all run successfully
4. docker run -it -p 7443:7443 -p 80:80 -p 443:443 --name covenant -v </opt/Covenant/Covenant/

[2020-08-24 01:10] korang commented on #227
Never mind, resolved it myself.  Remove the <> from the path to Covenant\covenant\Data

[2020-08-24 01:10] #227 closed

[2020-08-25 00:34] py7hagoras opened #228 "[Bug] Deletion of grunt through API invalidates the respective payload"
**Feature Request or Bug**
Bug

**Describe the bug**
 If one deletes a lost or active grunt through API, it also invalidates the payload that was used to generate the grunt. Latter attempts to run the payload gives a "404 NOT Found" error. I think its because the GUID and Setup Key are wiped upon deletion of grunt.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a binary and execute

[2020-08-25 19:52] wesinator commented on #219
dupe of #161
@cobbr yes, I'm also experiencing this even after cloning the repo with submodules and following the docker setup instructions

[2020-08-26 01:12] cobbr commented on #219
@rgzn-aiyun @wesinator or @m0n0rchid Can you show me the exact Docker commands you are running? I'm not able to reproduce this.

And also share the output of `ls -la Data/ReferenceSourceLibraries/` and `ls -la Data/ReferenceSourceLibraries/SharpSploit`

[2020-08-26 02:37] cobbr commented on #222
Confirmed, there is an issue with token impersonation tasks. I think I know what's going on here.

[2020-08-26 03:28] cobbr commented on #222
Should be fixed in 490e7ea378c6ebac6443662eb2aa77d6084505be

Let me know if you continue to have issues!

[2020-08-26 03:28] #222 closed

[2020-08-26 03:29] cobbr commented on #147
Closing for now, can reopen if issues persist.

[2020-08-26 03:29] #147 closed

[2020-08-26 03:31] cobbr commented on #132
Closing for now, haven't been able to reproduce. If you continue to run into this issue, let me know and we can reopen.

[2020-08-26 03:31] #132 closed

[2020-08-26 03:41] cobbr commented on #45
Thanks @attl4s, thanks for the heads up. I might look into the CreateProcessAsUser api in medium integrity contexts: https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessasusera

[2020-08-26 03:43] cobbr commented on #226
Hey @craigmar, how did you enumerate this detection? I find it unlikely that anyone is getting that aggressive with detections.

[2020-08-26 03:47] cobbr commented on #225
I believe all of these are already supported through Launchers 😄

[2020-08-26 03:47] #225 closed

[2020-08-26 03:47] cobbr commented on #224
Hmm, I would need a lot more detail to help debug this @gurbanli, I am unable to reproduce.

[2020-08-26 04:09] cobbr commented on #223
@3xpl01tc0d3r My suspicion here would be that it's not outputting any information, because Rubeus doesn't have any new tickets to report from the Monitor module.

Are you confident that there is any information that it should be returning? Is Rubeus returning information when used outside of Covenant?

[2020-08-26 04:13] cobbr commented on #217
Hmm I believe this should have been fixed in this commit: 79ef1696ae37903a1aa440083cdc31f6deb26c6e

Are either of you still seeing this issue with the latest code? @antisnatchor @Flangvik

[2020-08-26 04:15] cobbr commented on #215
@dtyj Are you editing the Profile of an active Listener? Or are you editing the Profile before creating the Listener?

[2020-08-26 04:16] cobbr commented on #213
It's difficult to tell without a a lot more information @b4b857f6ee, but it sounds like it could be an AMSI problem.

[2020-08-26 04:16] cobbr commented on #213
Closing this for now, issue seems unrelated to proxies.

[2020-08-26 04:16] #213 closed

[2020-08-26 04:17] cobbr commented on #212
@mepher Have you tested this change with your own template?

[2020-08-26 04:19] cobbr commented on #207
I think I fixed this a while ago, and forgot to update this issue. Closing for now, this should be fixed.

If you continue to have issues with the latest code, we can reopen the issue.

[2020-08-26 04:19] #207 closed

[2020-08-26 04:20] cobbr commented on #204
Thanks for the heads up @py7hagoras . This was fixed in 7d64880d05af4786a65d4b7d9476ce7b781f4f52, I just forgot to update this issue at the time.

Closing for now. If you continue to have issues with the latest code, we can reopen.

[2020-08-26 04:20] #204 closed

[2020-08-26 04:22] cobbr commented on #194
Thanks for the heads up everyone. This was fixed in 75d147aa4a40affb5e134466f6521a2d5a9dced8, I just forgot to update this issue.

Closing for now. If you continue to have issues with the latest code, we can reopen.

[2020-08-26 04:22] #194 closed

[2020-08-26 04:25] cobbr commented on #171
Thanks for the heads up @3xpl01tc0d3r. I believe this was fixed in v0.6, I just forgot to update this issue.

Closing for now. If you continue to have issues with the latest code, we can reopen.

[2020-08-26 04:25] #171 closed

[2020-08-26 04:27] cobbr commented on #125
Thanks @emmasuki, I believe this should now be fixed.

Closing for now. If you continue to have issues with the latest code, we can reopen.

[2020-08-26 04:27] #125 closed

[2020-08-26 04:32] cobbr commented on #117
Hey @amohar and @manasmbellani, thanks for the heads up on this, and sorry it took me so long to get back with you.

This should now be fixed. Closing for now. If you continue to have issues with the latest code, we can reopen.

[2020-08-26 04:32] #117 closed

[2020-08-26 04:33] cobbr commented on #94
Addressed with streaming output feature in v0.6 👍

[2020-08-26 04:33] #94 closed

[2020-08-26 04:35] cobbr commented on #56
Docs have been updated!

[2020-08-26 04:35] #56 closed

[2020-08-26 05:21] 3xpl01tc0d3r commented on #223
Yes I am sure that it should return the output. It works fine when I run Rubeus outside Covenant and I get proper output.
Just to give you more info, I am abusing the Unconstrained Delegation by using SpoolSample.exe. But when I run Rubeus monitor task in Covenant I can't see the output.

[2020-08-26 12:07] craigmar commented on #226
Hi. I was working on developing custom launcher templates and using
defender as my AV test case because of AMSI's insight into .NET execution.
After modifying function names to the point where no identifiable strings
were left in the code, i was still getting detection. So, I started
removing sections of code and recompiling until detection was lost. I
narrowed it down to "List<string> ProfileHttp

[2020-08-26 17:10] attl4s commented on #45
Souds like the perfect solution! I didn't notice the hToken within that call :P

[2020-08-26 17:40] wesinator commented on #219
Ubuntu 18.04.5
Docker version 19.03.12, build 48a66213fe

[code]

run that errors:
[code]

[code]

[2020-08-27 03:57] cobbr commented on #219
Hey @wesinator , it looks like your problem might be an incorrect `-v` parameter, pointing to a non-existent Data folder. Looks like it should be `home/osboxes/Documents/covenant/Covenant/Data`

[2020-08-27 17:21] tomwisniewskiprv commented on #224
I have this issue. I had gruntSMB as system and then I lost connection (Status LOST). If I try to connect again then it says that connection succeded. After that new grunt is spawned but its untrusted and in Stage 0.

![image](https://user-images.githubusercontent.com/26530613/91474422-7abc7480-e89a-11ea-954d-5553c36eb856.png)

![image](https://user-images.githubusercontent.com/26530613/91474450-8

[2020-08-27 19:15] digitalohm opened #229 "[BUG] Encoded Launcher Field Not Long Enough"
Bug

We created a new grunt template for the zeropoint class and the encoded launcher output is over the 10000 character limit of the field.  Currently in testing its 10266, but I would suggest padding it a little more just in case

**Expected behavior**
I would expect the encoded output to not be cutoff

**Additional context**
Discussed with @cobbr via slack !

[2020-08-28 03:31] wesinator commented on #219
Hey Ryan, that is the absolute path to my covenant dir
I was following the docker command instructions in https://github.com/cobbr/Covenant/wiki/Installation-And-Startup#option-2---docker

I think this is an issue where the submodules are not properly initialized in the docker VM itself. I tried adding a `RUN git submodule --init ...` cmd in the Dockerfile several places, that didn't fix it and pr

[2020-08-28 04:46] cobbr commented on #219
Hey @wesinator , I would take a closer look at what you posted. In your example you do: `sudo docker run -it -p 7443:7443 -p 80:80 -p 443:443 --name covenant -v /home/osboxes/covenant/Covenant/Data:/app/Data covenant`, using `/home/osboxes/covenant/Covenant/Data` as your Data directory. But your data directory should have been `/home/osboxes/Documents/covenant/Covenant/Data`, which would have been

[2020-08-28 04:54] cobbr commented on #229
Well it turns out the limit is actually already set to 20000. Are you able to provide the custom template you are using and I can debug what is going on?

[2020-08-28 04:55] cobbr commented on #217
I'm fairly certain this has been fixed, so I'm closing it for now. If you continue to have the issue @antisnatchor  or @Flangvik, I'll be happy to reopen the issue.

[2020-08-28 04:55] #217 closed

[2020-08-28 13:52] wesinator commented on #219
oof, thanks Ryan I didn't see that. You're right, it's working now. Sorry for the confusion

[2020-08-29 18:14] chopicalqui opened #230 "[Bug] SMB Grunt - Disconnect and Reconnect to SMB Grunt fails (same host)"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
While working on PR #166, I discovered this issue, which needs to be resolved on the C2 server side:

By disconnecting and reconnecting to a SMB Grunt, a `NullReferenceException` is thrown in `Covenant\Covenant\Components\Grunts\GruntTable.razor`, which requires a restart of the C2 server. The cause for this behaviour is that

[2020-08-29 19:57] chopicalqui opened #231 "[Bug] SMB Grunt - Starting Same SMB Grunt Several Times on Same Host"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
While working on PR #166, I discovered this issue, which needs to be resolved on the C2 server side:

A SMB Grunt with the same named pipe name can be used on a host only once. If the same SMB Grunt is started again, then a new SMB Grunt is created in the **Grunts** table but its status remains in `Stage0` with integrity `Untr

[2020-08-29 20:21] chopicalqui commented on #224
@gurbanli @tomwisniewskiprv This behaviour usually happens if you execute the same SMB launcher (SMB Grunt with same SMBPipeName) more than once (see #231). The last screenshot above indicates this. Can you confirm?

As a workaround, you can create a new SMB launcher with a different SMBPipeName with each execution on the host. Then, it should not happen anymore.

[2020-08-29 20:56] cobbr commented on #230
Thanks for all the detail here @chopicalqui , it is very appreciated!

[2020-08-29 20:57] cobbr commented on #231
Thanks again for all the details on this one @chopicalqui , this is very helpful.

[2020-08-29 22:36] tomwisniewskiprv commented on #224
yes I confirm. Thanks for reply.

[2020-08-30 09:05] gurbanli commented on #224
@chopicalqui  No, i created two SMB launchers with different SMBPipeName and still my grunts were untrusted. I replicated these steps hundreds of times and got the same result

[2020-08-30 09:10] gurbanli commented on #224
@cobbr

Steps to reproduce:
1. Generate Powershell SMB Grunt launcher with unique pipe name.
2. Paste generated command in HTTP Grunt.
3. New grunt will be appear in grunt list but with untrusted state.

Note: It works with Binary launcher. Problem is only in powershell launcher

[2020-08-31 18:08] jm0202 commented on #224
Is there a workaround for this?

[2020-08-31 19:29] awsmhacks opened #233 "[Feature Request] Add '# of items to show per page' to Tables"
**Feature Request or Bug**
Feature Request

**Describe the feature request or bug**
Add a drop-down item next to the table navigation buttons (page < << 1 2 3 .... 5 > >> last) or wherever that lets you choose the number of items to show per table page. Default is 10 which works fine for most things but when looking at all tasks for example I wish i could look at more than 10 at a time considering

[2020-09-01 07:33] Jormungand999 opened #234 "[Bug Hosted files on Listener are not correctly deleted"
Bug

**Describe the feature request or bug**
When deleting a hosted file from a listener in the GUI the file is not actually deleted on the server and is still being served.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Hosted Files tab for a listeren
2. Create a new file
3. Confirm it's served by server
4. Remove the file in the UI
5. Observe the file is not deleted from the file

[2020-09-01 07:44] Jormungand999 opened #235 "[Bug] Listener using TLS is not correctly shown in the UI"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When opening the settings page of a listener that is using a SSL certificate, the UI shows **UseSSL: False** while that listener is in fact using a certificate.

**Expected behavior**
The UI should reflect the actual configuration at all times

[2020-09-01 18:28] digitalohm commented on #229
apologies for the delay, I was making sure I had permission to post the code:

in order to get around the instability of the GruntSMB we are using an GruntHTTPProxyAuth.  We copy the template code for the GruntHTTP

![image](https://user-images.githubusercontent.com/5267192/91891359-c2018700-ec45-11ea-9f9a-3facfff1ef3e.png)

![image](https://user-images.githubusercontent.com/5267192/91891380-cc238

[2020-09-07 20:26] cobbr commented on #231
Hey @chopicalqui, I believe this should now be fixed. Please take a look and let me know if you can confirm.

[2020-09-07 20:26] cobbr commented on #230
Hey @chopicalqui, I believe this should now be fixed. Please take a look and let me know if you can confirm.

[2020-09-07 20:27] cobbr commented on #224
Hey @gurbanli @chopicalqui @jm0202 or @tomwisniewskiprv , I believe this should now be fixed. Please take a look and let me know if you can confirm.

[2020-09-07 20:28] cobbr commented on #223
Hey @3xpl01tc0d3r , i'm not 100% certain, but I believe some recent changes to streaming output may have addressed this. Do you mind checking to confirm if this fixes your issue?

[2020-09-07 20:29] cobbr commented on #182
I added this in a while back! Just forgot to address this issue, should be there now.

[2020-09-07 20:29] #182 closed

[2020-09-08 18:13] clr2of8 opened #236 "[Bug] Windows listeners won't start"
Just cloned the repo today according to wiki instructions. I click "create" to create a listener and it appears to work other than no listener ever shows up in the listeners list. I've tried multiple different ports and settings for the listener but none are successfully listed as listening.

My system is OS Name:
Microsoft Windows 10 Enterprise
10.0.18362 N/A Build 18362

[2020-09-08 18:18] clr2of8 commented on #236
dotnet --list-sdks
3.1.100 [C:\Program Files\dotnet\sdk]
3.1.201 [C:\Program Files\dotnet\sdk]

C:\Users\croberts>dotnet --list-runtimes
Microsoft.AspNetCore.App 3.1.0 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 3.1.3 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.NETCore.App 3.1.0 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]
Mi

[2020-09-08 19:12] hjtenklooster commented on #223
Hey @cobbr , I ran into the same issue as @3xpl01tc0d3r , but it does not seem to be resolved by the commits 490096fb71cf3e8de14fe4d45c4e51db8c31c231 & 7555b19ffb9401c0e37094c25e404a640b1688d7.

I added an extra line in the beginning with Console.WriteLine("Test1");. However that also doesn't end up when using the monitor command, nor does the Rubeus logo show.

The commands that run only for a fe

[2020-09-09 04:24] a7t0fwa7 opened #237 "Input from Interactive Prompt not handled properly"
**Feature Request or Bug**
Bug

**Describe the bug**
Input from Interactive Prompt not handled properly, it returns a null output as if you had not entered the command.
Not a major issue but annoying when trying to attempting to enter a long command and it all disappears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Interact thumbnail of grunt
2. Type a Command such as MakeToken and

[2020-09-09 04:41] cobbr commented on #237
I'm not able to reproduce this @artofwar2306, is it only a particular command you are having trouble with?

[2020-09-09 10:26] artofwar2306 commented on #237
Hi no it also seems to be happening when i invoke Powershell too

[2020-09-09 12:33] Jormungand999 opened #239 "[Feature Request] HTTP C2 profile enhancements"
**Feature Request**
HTTP C2 profile enhancements

* Allow define a different set of request and response header base on the request method (eg. GET or POST)
  * This should allow to blend in better
* Allow to reorder the defined headers in the UI instead of having to remove and add them again in a different order

[2020-09-09 17:38] awsmhacks commented on #237
I'm able to use maketoken directly in the prompt, is it a format issue? The error doesnt really show the correct format I dont think.

`Maketoken /username:"bob" /domain:"contoso.com" /password:"goodPass" /logontype:"LOGON32_LOGON_NEW_CREDENTIALS"
`

[2020-09-10 02:39] m4rvxpn opened #240 "[Bug] Spawing a grunt with stored proxy credentials eventually breaks the C2 server"
**Bug**
Bug

**Bug description**
When spawning an http grunt with stored proxy credentials gets successful. Whereas while continuing with the usage the c2 server breaks and we need to restart.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a custom HTTP template using stored credentials
2. Generate a launcher (binary, Powershell, etc.) using the template created
3. Spawn a Grunt exe

[2020-09-10 03:30] artofwar2306 commented on #237
So basically before i used to be able to enter the command using directly " Maketoken bob DOMAIN password" and hit enter without having to specify the parameters, this seems to now be rather hit and miss when i enter it in the interactive prompt. When i hit enter the parameters seem to not have been passed and a blank submitted command appears like in the attached image above.

So the only way tha

[2020-09-10 04:36] cobbr commented on #237
Unfortunately not able to see your video @artofwar2306 , as I'm not apart of the Slack group. You should be able to do `Maketoken bob DOMAIN password` just fine without the more explicit format.

This almost sounds like a Browser issue. If you hit the 'Send' button instead of hitting Enter in the Interact Tab, does that work?

[2020-09-10 04:37] cobbr commented on #237
I'd also try making sure you do a hard refresh (Ctrl+R or Cmd+R) to reload the page.

[2020-09-10 06:11] artofwar2306 commented on #237
I tried on both Firefox and Chrome with the same issues, however you are right when i hit send with my mouse the command seems to validate the input, but not when i press Enter on my keyboard.

[2020-09-11 11:47] thrasher456 opened #241 "[Bug] Binary launcher DotNet 4.0 dies on stage2 with untrusted integrity"
Bug

**Describe the feature request or bug**
I am able to compile and run covenant Binary targeting dotnet 3.5 , but when i try to compile for dotnet 4 , the binary just exits and on Web UI , i see Stage2 and "untrusted" integrity.

**To Reproduce**
Steps to reproduce the behavior:
1. Launcher -> Binary -> Change dot net version to 4 -> Disable Cert and Pinning validation (I am listening without S

[2020-09-11 13:51] thrasher456 commented on #241
Just to update, The loader was getting detected by AMSI silently , i did not noticed it for quite some.
Closing the issue.

[2020-09-11 13:51] #241 closed

[2020-09-11 15:49] funappfactory commented on #34
Got the same issue, after configuring Date and Time Zone, it worked.

[2020-09-12 01:55] cobbr commented on #240
Hey @0x01m4rv , if you have a custom Template that you think is breaking the server, please provide the Template so that I'll be able to test!

[2020-09-12 16:53] 0x01m4rv commented on #240
In the default HTTP Template,

![image](https://user-images.githubusercontent.com/16485430/93000450-3a215400-f546-11ea-8016-10a88b381c6b.png)

Replace the three lines in the StagerCode with:

wc.UseDefaultCredentials = false;
wc.Proxy = new WebProxy
{
    Address = new Uri("http://proxyserver:port"),
    Credentials = new NetworkCredential
    {
        Domain = "DOMAIN",
        UserName = "user"

[2020-09-15 09:43] rocketscientist911 commented on #235
I thought its not working until i hit this page and realized its a bug.

[2020-09-15 14:51] 20knots commented on #224
@cobbr I've been testing this with the "Fixed and improved P2P stability for GruntSMB" commit however I seem to be getting the same issue as @gurbanli.
The HTTP grunt that I connect from reports connection succeeded but then it never spawns the SMB grunt and I noticed that the HTTP grunt is reporting a 404 not found (from the powershell window on the remote host).

[2020-09-16 04:09] cobbr commented on #236
Unfortunately I have not been able to reproduce this @clr2of8 .

I'd make sure you are running Covenant as an Administrator, that the BindAddress is set to a valid value, and that you are not choosing a BindPort that is not currently in use.

If those seem to check out, can you provide all of the values you are using for the Listener?

[2020-09-16 04:57] cobbr commented on #229
Fixed this by allowing up to 30000 characters. Fixed in dev branch, will be merged to master soon.

[2020-09-16 04:57] #229 closed

[2020-09-16 17:37] hangrymoose opened #242 "[Bug] UseSSL not working on listener"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
After setting UseSSL to True, selecting a .pfx file, setting the correct password and clicking Create, the listener has UseSSL set to False.

**To Reproduce**

1. Create certificate

Pfx password: CovenantDev

[code]

2. Install and start Covenant

[code]

3. Register admin and create a Launcher

[code]

**Expected behavior**

[2020-09-17 05:03] cobbr commented on #119
Made this change in dev. Should be in master soon.

[2020-09-17 05:03] #119 closed

[2020-09-17 20:59] hangrymoose commented on #242
Duplicate of #235

[2020-09-17 20:59] #242 closed

[2020-09-17 22:44] HeckerBirb opened #243 "[Bug] Docker container fails to run (git submodules not initialised)"
**Bug**
Docker container fails to run (git submodules not initialised)

**Describe the feature request or bug**
When following the steps to create and run a Docker container in the documentation, the container produces the following output, the quits  immediately:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Visit [the install guide for Docker containers](https://github.com/cobbr/C

[2020-09-17 22:46] HeckerBirb commented on #243
I have a solution ready already which I can do a pull request of, if preferred. Basically:
1. Move `Dockerfile` to the root (up one level)
2. Replace the contents with the following:
[code]
Essentially: copy the entire git folder, do git sub module initialisation and then build and run.

[2020-09-17 23:21] cobbr commented on #243
I'm unable to reproduce this @HeckerBirb . I'd ensure that you are using the fully qualified path to your data folder. It's unlikely that `/data/` is correct.

[2020-09-17 23:24] HeckerBirb commented on #243
Yep, my full path was something along the lines of `/root/fun/path/to/my/data/` which I also specified. That you're not able to reproduce is odd... I've spend over an hour trying to get around it, lol.

[2020-09-18 01:10] cobbr commented on #243
Glad you got it working!

[2020-09-18 01:10] #243 closed

[2020-09-19 20:31] cobbr commented on #231
Closing for now. If issues persist, just let me know and we can re-open.

[2020-09-19 20:31] #231 closed

[2020-09-19 20:31] cobbr commented on #230
Closing for now. If issues persist, just let me know and we can re-open.

[2020-09-19 20:31] #230 closed

[2020-09-19 20:31] cobbr commented on #154
I believe this should now be fixed in master. Closing for now. If issues persist, just let me know and we can re-open.

[2020-09-19 20:31] #154 closed

[2020-09-20 00:03] checkymander commented on #221
Threw together an initial PR to support logging for this Issue. PR #244, take a look and let me know what you'd like added. Not quite the same level of detail as a CS beacon, but should be a start.

[2020-09-20 09:23] MarcOverIP commented on #221
Awesome! Do you have any examples of the logs it generates?

Also paging @fastlorenzo , you may want to take a loot at this

[2020-09-20 09:36] fastlorenzo commented on #221
Really nice, indeed! Let's check what you have in this PR for now and then we'll see if some other things needs to be added/adapted to get an exhaustive view in RedELK 👍

[2020-09-20 14:24] checkymander commented on #221
Here's a general idea of what the logs output on specific covenant events. I'm open to changing them if that would make parsing easier for you guys or if @cobbr has a preference. By default the PR doesn't include Command Output but the code exists and can be un-commented out if someone wanted to include that in their logs.

[code]

[2020-09-23 02:41] cobbr commented on #218
@juliourena I'm think this might have something to do with executing a Task before a file upload is able to complete. We've implemented a lock/and progress spinner on file uploads, so the task won't begin until an upload has completed. Has been pushed to dev, will be in master soon.

I can't be sure that this is the source of the issue, so let me know if you continue to see this issue and we can r

[2020-09-23 02:41] #218 closed

[2020-09-25 21:22] mpgn commented on #181
Result of `rm Data\covenant.db`

When reloading the webpage:

![image](https://user-images.githubusercontent.com/5891788/94317125-ea02b280-ff85-11ea-8076-e3812256a79b.png)

[2020-09-26 18:37] thiagomayllart opened #247 "[Feature Request] GUI Map Tree of Grunts (P2P)"
Feature Request

A tab displaying the connected Grunts in a GUI Map Tree for easy visualization of P2P communications between grunts.

[2020-09-26 21:48] cobbr commented on #247
@thiagomayllart Have you tried the Graph view? Is there something specific missing there that you are wanting?

[2020-09-27 01:46] thiagomayllart commented on #247
Sorry!! My bad, it is actually some improvements to that feature... I think it would be cool to drag and drop the grunts and the possibility to connect and disconnect through the Graph. :smiley:

[2020-09-29 15:22] mpgn commented on #240
@0x01m4rv when I replace the code with your line I got this when generating a powershell launcher

![image](https://user-images.githubusercontent.com/5891788/94578729-5af0e580-0278-11eb-8b66-01b50fffe522.png)

[2020-09-29 19:16] fastlorenzo commented on #221
I think it would be easier to parse in logstash with something else than a newline delimited (if possible for you) 👍

Regarding the logged data, what would be super interesting to have is everything that happens in the target network: tasks launched by operator + output, downloads, retrieved credentials, screenshots, keylogger data, etc.

[2020-09-29 19:19] fastlorenzo commented on #221
Something like this could be more convenient for parsing:

[code]

[2020-09-29 21:29] checkymander commented on #221
I agree, I think that output does look better, I'll work on changing that. Currently the logging does support new credentials, and tasks created by operators, however after discussing with @cobbr we decided on not including command output by default. However, I do have the code in there, which can be un-commented out if someone wanted to implement it. I've basically included all of the "important"

[2020-09-29 22:49] fastlorenzo commented on #221
That's great, thanks! I'll give it a try tomorrow and test parsing the output.

Why did you decide not to log the command output?

[2020-09-29 23:05] checkymander commented on #221
Just a lot of potential customer data being stored in plaintext logs that I don't really want to make it "the default". The code is still there and can be enabled, but I'd rather leave that up to the users.

[2020-09-30 15:23] salu90 opened #252 "[Bug] Tasks with name without the word "injection" don't work"
**Bug**
Tasks with name without the word "injection" don't work.

**Bug description**
In some cases, when the task name doesn't contain the word "Injection" the task doesn't work.
I noticed this bug in particular when working with process injection related tasks.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached task _ProcessInjectionLocal.yaml_
2. Execute the _ProcessInjec

[2020-10-01 05:59] 3xpl01tc0d3r commented on #223
@cobbr The issue seems to be fixed now in the latest commits.
Thanks for the prompt response and quick fix.

One more question is there a way to stop the task once we got the TGT ?

[2020-10-07 20:03] joncave commented on #154
This is still an issue. It's easier to reproduce if you set the delay on your SMB Grunt to 0.

The root cause is a deadlock that occurs when an incoming message is processed by TaskExecute in a thread and takes longer to write output than the sleep time on the main loop. If the main loop gets around to call `messenger.ReadTaskingMessage()` again then it will lock `_UpstreamLock` until data is read

[2020-10-08 17:02] digitalohm opened #257 "[Bug] LSASS Dump Download Crashes Covenant"
Bug

Was dumping some lsass and wanted to download, now I can't access the download page at all with the following error:

[code]

Steps to reproduce

[code]

**Expected behavior**
Should still be able to get to the download tab

**Screenshots**

**Covenant Server Information:**
Kali 2020.3 latest apt updates

**Browser Information:**
Latest Edge, Chrome, Firefox

[2020-10-09 13:43] ajaychan commented on #33
Are there any directions for this? I'm also interested

[2020-10-09 16:55] cetaSYN opened #258 "[Feature Request] Offline/Isolated C2"
**Feature Request**
Ability to easily pre-download NuGet resources for using Covenant C2 in an environment where internet access is unavailable

**Describe the feature request or bug**
A run-flag to pre-download any resources that later would usually require an internet connection or a support script to populate such resources

**Additional context**
When using Covenant on an internet-isolated ran

[2020-10-11 15:21] merlin123h opened #259 "Redirect to login page"
Hi.
I tested Covenant on Ubuntu 20.04. After successful installation on my OS, after selecting my favorite username and password, when i want to first login in to covenant panel, it redirects to login page. In another words, it can not login to home/index page. It is not redirected to home page.
Please guide me how to solve this error.
Thanks.

[2020-10-11 16:54] rasta-mouse commented on #259
Are you blocking cookies or anything like that?

[2020-10-12 11:10] S3cur3Th1sSh1t opened #260 "[Bug] Covenant Crash after connect to SMBGrunt"
**Bug**
Covenant Crash after connect to SMBGrunt

**Description**
I have a Grunt connected to my Covenant C2 via HTTP over a proxy. I build a powershell SMBGrunt stager to connect another system in the network which has no proxy connectivity. Execute the SMBGrunt stager on the seccond remote system works, after issuing "Connect hostname PipeName" the whole Covenant instance crashes without any err

[2020-10-12 15:31] merlin123h opened #261 "The payload Dtection"
Hi.
the generated exe and powershell payload is detected by windows defender. can anyone help to obfuscate the covenants payloads?
thanks.

[2020-10-12 16:33] cobbr commented on #261
I generally recommend the tools ConfuserEx and Donut for evasion. But evasion is left as a step for the operator, not something that I would consider as a Covenant issue.

[2020-10-12 16:33] #261 closed

[2020-10-17 16:52] v-p-b opened #262 "[Bug] GruntBridge is tightly coupled with TcpC2Bridge"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**

The `GruntBridge` class assumes properties specific to the TcpC2Bridge example of the C2Bridge project. This prevents developing bridges without modifying Covenant code.

**To Reproduce**

here we can see that it is assumed that `BridgeMessenger`s have `client` and `stream` properties while none of these are defined by the `I

[2020-10-19 09:51] mepher commented on #212
I have & it works.
I used DNSpy to debug an agent as it called back, to see the original error.
Altough, the actual domain fronting with <redacted> provider was significantly more work :)

[2020-10-21 13:53] atcuno commented on #28
We are having the same issue on Windows 7 targets. It is definitely not a Windows 10 only problem.

[2020-10-22 02:56] felixguerrero12 commented on #257
I am having similar issues when attempting to download a golden ticket.

[2020-10-24 01:20] BlackRobinLabs opened #263 "[Bug] Illegal Characters in Path When Executing Listener"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Cannot successfully launch a Grunt with any available method. Receive error message (on PowerShell launcher for instance "Illegal Characters in path")

**To Reproduce**
Steps to reproduce the behavior:
1. clone Covenant repo
2. ran dotnet build and dotnet run (as admin)
3. created listener
4. created launcher
5. tried all laun

[2020-10-24 16:03] MyatThu13 opened #264 "[Bug] Data panel crashed in kali linux"
Data panel is crashed after running "Screenshot" Command

FormatException: The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.

System.Convert.FromBase64CharPtr(Char* inputPtr, int inputLength)

[2020-10-29 01:27] BlackRobinLabs commented on #263
This was resolved by updating the Grunt Stager code:

Line 61 should be:
`ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072 | SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls;`

as per Mepher's fix here: https://github.com/cobbr/Covenant/issues/143#issuecomment-665044862

[2020-10-29 01:27] #263 closed

[2020-11-04 18:43] fastlorenzo commented on #221
makes sense, could we make this a configuration setting instead? Just to avoid having the users needing to change the code itself to make it work 😄

[2020-11-04 21:21] checkymander commented on #221
I'll take a look when I have a bit of time, I'm currently revamping the logging logic so I'll look into that as well.

[2020-11-05 16:48] codewatchorg commented on #236
I have this exact same problem on both Windows 10 build 19041.572 and Linux (CentOS 8.2.2004). I am launching a command prompt on Windows as Administrator and also running as root on Linux, both just don't create listeners (it acts like it worked after hitting Create but no listeners are created).

I have confirmed that nothing is listening on the random ports I am choosing and have tried high and

[2020-11-13 19:51] brandontict opened #267 "[Issue] Unhandled exception creating Listener with bad ConnectAddresses"
**Describe the feature request or bug**
While attempting to run Covenant , **donet run** errors out

**Screenshots**
![dotnet-error](https://user-images.githubusercontent.com/10290245/99114867-22eafb00-25b7-11eb-9046-118e2f41823b.png)

**Covenant Server Information:**
 - OS: Kali 2020 ; rolling update
kernel 5.9.0

**Browser Information:**
firefox

**Additional context**
Installing dotnet sdk fini

[2020-11-13 22:00] S3cur3Th1sSh1t commented on #260
2b556cf45f596d94b367171b0938fc22bd22e6ab fixed it for me i can connect to SMBGrunts now. They still die sometimes but it works generally.

[2020-11-13 23:48] checkymander commented on #267
Go into the Data folder and delete covenant.db (assuming you don't have any data you want to keep). Sounds like something got messed up in there.

[2020-11-14 16:35] codewatchorg commented on #28
I can't get the script generated by Covenant to work, but I can create the DotNetToJScript payload myself and get it to work on a Windows 10 Pro box. I found that the DotNetVersion HAS TO BE SET to Net35 (this exact same process doesn't work for Net40, the Stager will never get beyond a status of "Stage2").

1. Create a listener.
2. Go to Launcher -> Binary, and make sure the DotNetVersion is set

[2020-11-14 16:38] brandontict commented on #267
Thank you for the prompt response and solution.

removing covenant.db did the trick!

[2020-11-23 06:39] decardcain603 opened #268 "[Bug] HTTP SSL Listener - Grunt fails to start"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Covenant HTTP listener-produced Grunt fails to start with the following error:

Invalid URI: The URI is empty.
    at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
    at GruntStager.GruntStager.ExecuteStager()

**To Reproduce**
Steps to reproduce the behavior:
1. Goto listeners
2. Click "Create"
3. Se

[2020-11-23 13:41] chosenonepl commented on #268
Have you tried this little change in the code?

https://github.com/cobbr/Covenant/issues/212

[2020-11-24 05:41] decardcain603 commented on #268
The problem was with the certificate I tried to import - it doesn't say anywhere you need to import a PFX!

[2020-11-24 05:41] #268 closed

[2020-11-24 05:46] decardcain603 opened #269 "[Feature Request] Grunt binary + ConfuserEX - compatibility issues"
**Feature Request or Bug**
Feature Request

**Describe the feature request or bug**
When confusing a GruntHTTP binary with ConfuserEX (normal preset) - The grunt fails to execute assemblies and returns the following exception:

`Task Exception: Could not load file or assembly '54272 bytes loaded from 10wrf0ib.xsm, Version=0.0.0.0, Culture=Neutral... or one of its dependencies. An attempt was made

[2020-11-24 09:07] chosenonepl commented on #269
Have you tried to check if this happens without ConfuserEx? It might be an AMSI block.

[2020-11-24 13:15] decardcain603 commented on #269
Without ConfuserEX - it's working perfect

With ConfuserEX I get this error when trying to execute ShellCmd or PowerShell. WhoAmI works fine though

[2020-11-24 14:33] py7hagoras commented on #269
@decardcain603 run "BypassAmsi" first before any other command

[2020-11-25 05:19] decardcain603 commented on #269
So I double checked this: It's working on a computer without anti virus. but with anti virus I get this

[2020-11-25 05:31] py7hagoras commented on #269
Interesting. Seems the AV has also signatured the default  AMSI bypass used by Covenant.

[2020-11-25 05:45] fhlip0 commented on #269
you’ll find a lot of that, it’s up to the operator to obfuscate and AV evade, check out threatcheck

Sent from my iPhone

[2020-11-25 05:47] decardcain603 commented on #269
@py7hagoras yes. At the beginning it worked just find. I guess that the AV "learned" the behavior of the grunt and now I can't even get it to run. At first, "standard" evasion worked (donut shellcode). Now I can't even run the donut shellcode, so I used ConfuserEx - which seems to be able to bypass the AV, but assembly loading is being blocked by AMSI

[2020-11-25 10:21] #269 closed

[2020-11-25 21:39] PZegar opened #270 "[Request] Prepare published version of application from stable branch"
Just wanted to suggest preparing compiled binary of .net application with dotnet publish so that .net runtime 3.1 is enough to run the product not the whole SDK.

Is there any rationale behind instructing users to not to publish versions from stable branch?

[2020-11-26 04:13] #223 closed

[2020-11-26 04:13] 3xpl01tc0d3r commented on #223
Issue resolved

[2020-11-26 07:09] on3rule2kill commented on #264
@MyatThu13 Good day, did you manage to solve this issue?

[2020-11-29 06:12] mubix commented on #258
I have run into this scenario as well. Thanks for making an issue for it.

[2020-12-03 21:55] codewatchorg commented on #236
Looks like you ran into this same problem in the "Operating with Covenant" workshop during SO-CON 2020. Created a listener but it never started.

[2020-12-04 10:38] a7t0fwa7 opened #271 "[Bug] SMB Grunts Hanging at Stage 0 although connection shows as succeeded"
**Feature Request or Bug**
Bug
SMB Grunts hanging at Stage0
**Describe the feature request or bug**
In Covenant when deploying SMB grunt packages, I have deployed them previously in the lab environment, but as of today whenever I go to use the connect command to a named pipe they get to Stage0 and never pass that stage
![image](https://user-images.githubusercontent.com/43460290/101152444-0f82fb00-

[2020-12-04 15:11] ac3lives opened #272 "[Bug] Creating new/custom MessageTransform Results in 404 from Server on Initial Grunt Connection"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Creating new MessageTransforms which conduct basic operations, such as rot13 on the message, fail, resulting in a 404 not found error received from the server when attempting to connect at stage 0.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new listener p

[2020-12-04 16:04] ac3lives commented on #272
Per suggestion, I tried restarting Covenant to rule out the MessageTransform being cached on the server as using the default transform. The steps were as follows:

1. Created new listener profile with the modified `base64 -> rot13 -> base64` transform, saved.
2. Restarted Covenant
3. Launched new listener using the modified transform
4. Generated a grunt, copied the raw C# and compiled locally, ve

[2020-12-05 14:19] Apr4h commented on #264
Hey there, I just came across the same issue while using Covenant. I found that I was able to recover from the Data panel crashing by deleting the records associated with the screenshot in Covenant/Covenant/Data/covenant.db.

My best guess is that it's crashing when trying to base64 decode the value of "FileContents" from the Events table, for the row associated with the screenshot, which containe

[2020-12-06 19:21] Nervanas opened #273 "[Bug] PowerShell Launcher 404 Not Found"
**How to reproduce the problem:**
It's basically just a default Listener with a default PowerShell Launcher. Steps taken:

`Listener > Create > (Edit connect address) > Click on "Create"`
`Launcher > PowerShell > Select Listener from previous Step > Click on "Host" Tab > Select URL name i. e. "evil.ps1" > Click on "Host"`

Now within a PowerShell session on the target load and execute the previous

[2020-12-07 09:37] f0cker commented on #272
I was having the same problem, which I've managed to resolve now by using explicit references. It looks like you may need to do the same, for example

Encoding.ASCII.GetBytes(rotEncoded) --> System.Text.Encoding.ASCII.GetBytes(rotEncoded)

[2020-12-08 10:45] rasta-mouse commented on #271
There's a silly bug in WMICommand where the command is executed twice.  This means you have 2 SMB Grunts with the same pipe name running on the same machine, which is bad.

Steps to reproduce:

[code]

[2020-12-08 11:02] rasta-mouse commented on #271
Having a quick look, it appears this bug is in the Task?
https://github.com/cobbr/Covenant/blob/master/Covenant/Data/Tasks/SharpSploit.LateralMovement.yaml#L154-L158

It does:
[code]
and then if that result is *not null* it executes again:
[code]

The same issue seems to be in WMIGrunt:  https://github.com/cobbr/Covenant/blob/master/Covenant/Data/Tasks/SharpSploit.LateralMovement.yaml#L26-L29

`WM

[2020-12-08 23:23] Zamanry opened #274 "[Feature Request] Character Encoding & Shellcode Output Format"
**Feature Request or Bug**
Feature Request

**Describe the feature request**
- A shellcode dropdown to choose a different character encoding output such as UTF-8
- A shellcode dropdown to select a different output format rather than binary such as 0x or standard hex formats.

**Additional context**
Unicorn requires its input be in UTF-8 and hex 0x format. Though Covenant should not add a feature t

[2020-12-19 16:35] revronja opened #275 "[Bug|Feature Request] Short Description of Issue"
**Feature Request or Bug**
Feature Request | Bug

**Describe the feature request or bug**
A clear and concise description of what the bug is.

Mimikatz error.

       [12/19/2020 4:28:12 PM UTC] Mimikatz completed

      (beh) > Mimikatz privilege::debug sekurlsa::logonpasswords
       .#####.   mimikatz 2.2.0 (x64) #17763 Apr  9 2019 23:22:27
      .## ^ ##.  "A La Vie, A L'Amour" - (oe.eo)

[2020-12-20 11:22] HolyOne opened #276 "[Bug|Feature Request] Short Description of Issue"
Http listener is fine but when I connect a bridge listener, the server throws an exception here, because message is null.

`
   try
                {
                    targetGrunt = await _client.GetGruntByGUIDAsync(message.GUID);
                }
                catch (HttpOperationException)
                {
`

bridge client also exits. I tried simple commands like WhoamI and ListDirectory

[2020-12-20 11:24] HolyOne opened #277 "[Feature Request] Embed wiki help in the application"
I have to lookup every label in the wiki,
I think popup descriptions of features would be useful.

[2020-12-20 11:29] HolyOne commented on #276
![image](https://user-images.githubusercontent.com/293601/102712140-b6f36500-42cf-11eb-85c1-82f8f39c838a.png)

![image](https://user-images.githubusercontent.com/293601/102712129-a511c200-42cf-11eb-9fef-e78e4c99d47c.png)

[2020-12-20 15:23] HolyOne opened #278 "[Bug] I created and deleted some listeners, now i cant create a binary"
![image](https://user-images.githubusercontent.com/293601/102716984-6cceab80-42f0-11eb-8b12-d4f368e25d22.png)

[2020-12-21 07:55] t94j0 opened #279 "[Bug] A failed screenshot breaks Covenant"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When a screenshot returns empty data, the application breaks

**To Reproduce**
Steps to reproduce the behavior:
1. Interact with a beacon
2. Use `ScreenShot` module

**Expected behavior**
Make a screenshot and put that information in Data

**Screenshots**
![image](https://user-images.githubusercontent.com/5448134/102751499-dc1

[2020-12-29 00:42] paulsg commented on #158
The same bug still exists when calling the API directly.

POST or PUT to /api/implanttemplates

{"id": "5", "name": "CustomAgent", "description": "Custom Worker", "language": "CSharp", "commType": "HTTP", "implantDirection": "Pull", "compatibleListenerTypes": [{"id": 1, "name": "HTTP", "description": "Listens on HTTP protocol."}, {"id": 2, "name": "Bridge", "description": "Creates a C2 Bridge for

[2020-12-30 09:34] JABirchall opened #280 "[Bug] Error importing Covenant certificate."
Just freshly installed Covenant on a new system for an test with a new exploit but the default fresh install crashed on startup with this error

[code]

I tried adding the generated certificates to the root trusted store but it still errors out.
 OS: Windows server 2016

[2020-12-31 16:06] serain commented on #275
@revronja can you please fix the title here

[2020-12-31 16:08] serain commented on #257
My download tab breaks as well (doing red team labs).

You can still get your downloads manually on the host by navigating to `Covenant\Covenant\Data\Downloads`, as a workaround.

[2021-01-04 22:31] init5-msft commented on #257
I am having the same issue as well, happened after I downloaded BloosHound's zip file.

[2021-01-06 17:12] init5-msft opened #281 "[Feature Request] Grunt's "Interact" terminal auto scrolling"
Feature Request

Title says it all. PLEASE add an auto scrolling feature to the Interact terminal, going back and forth between keyboard and mouse is very irritating.
At least add a checkbox or a toggle switch to On/Off auto scrolling.

Thanks!

[2021-01-06 17:14] cobbr commented on #281
Yeah, this needs to come back. It used to auto-scroll, but we took it out since it can be irritating for it to scroll when doing multi-user interaction and it's someone else's command.

I'd like to have it auto-scroll _only_ when it's your own command.

[2021-01-06 17:20] init5-msft commented on #281
Hence the "On/Off" checkbox :-) You'd be able to turn off the feature if multiple operators are using the same grunt at the same time!
Also THANKS for the great tool, great job!

[2021-01-06 20:37] cobbr commented on #281
I'm hesitant to add excessive UI features that clutter the screen, but I'll think about it. For now, I think auto-scrolling on your own commands is a good solution.

[2021-01-06 20:38] cobbr commented on #280
That is odd. Usually when you run the dotnet CLI for the first time, it will auto-install the certs. There should be a command to manually install them.

[2021-01-06 21:05] JABirchall commented on #280
Yea, I even tried manually installing the certificates into the root authority and it still errored out with this error.

[2021-01-06 22:28] cobbr commented on #280
Did you try the suggested commands in the error output? `To generate a developer certificate run 'dotnet dev-certs https'. To trust the certificate (Windows and macOS only) run 'dotnet dev-certs https --trust'.`

[2021-01-06 22:34] cobbr commented on #275
Looks like this is an issue with Mimikatz, Covenant seems to be working okay here. I'd recommend taking it up with the Mimikatz project.

[2021-01-06 22:34] #275 closed

[2021-01-06 22:38] cobbr commented on #274
It seems to be that outputting raw shellcode is a natural, neutral output format? It seems like converting to other character encoding might be better suited for external tools.

[2021-01-06 22:47] cobbr commented on #273
I'm unable to reproduce this issue. Are you sure this isn't a routing issue?

[2021-01-07 13:22] init5-msft commented on #281
+1
I'm not a big fan of UIs with too many bells and whistles either. I'd rather have one global On/Off switch that will enable/disable auto scrolling everywhere for everyone.

[2021-01-07 15:48] init5-msft commented on #224
@cobbr  Hi, I have the exact same issue, I am using the latest Covenant version (has the Sep 7, 2020 commit mentioned above)

I tried the SMB Grunt using multiple launchers and a unique name every time, it says connected successfully but the grunt stays at "Untrusted" and Stage0

I'm on Linux kali 5.9.0-kali1-amd64 #1 SMP Debian 5.9.1-1kali2 (2020-10-29) x86_64 GNU/Linux
The target is: Windows 10

[2021-01-13 14:53] abdihakx opened #282 "Question: How to reset forgotten password."
Is there a way I can reset the password for the web interface user without re-installing it?

[2021-01-13 15:22] cobbr commented on #282
If you have access to the database, you can change it manually with a sqlite tool. Otherwise, a re-install may be required.

[2021-01-14 08:31] abdihakx commented on #282
Alright, Thanks!

[2021-01-14 08:31] #282 closed

[2021-01-22 02:54] joeleonjr commented on #257
I had the same issue downloading a SAM database file. Like @serain said, I could manually grab the files from Covenant/Covenant/Data/Downloads, but now when I navigate to "Data" within the GUI, it freezes up. Any one have a work around for that? I'd rather not have to reinstall.

[2021-01-25 14:52] joeleonjr commented on #257
Ran into the same issue again with a minidump (.dmp) file, except this time covenant kept crashing and I had to reinstall. One way around the error that worked for me (at least with the .dmp file) is to zip it before downloading. That seemed to work fine.

[2021-01-27 22:05] skrrrrrrrrrrrrrrrrrrrrr opened #283 "[Bug] Covenant fails in working paths with 'bin' in path"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
dotnet run says that submodules are not initialized when I clone the repo with the --recurse-submodules flag.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recurse-submodules https://github.com/cobbr/Covenant
2. cd Covenant\Covenant
3. dotnet run
4. See error (Error: git submodules have not been initialized

[2021-01-27 22:16] cobbr commented on #283
Can you provide the output of the following:

[code]

[2021-01-27 22:32] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Directory: C:\Users\mike\Tools\Covenant\Covenant\Data\ReferenceSourceLibraries

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
d-----         1/26/2021   8:39 PM                Rubeus
d-----         1/26/2021   8:39 PM                Seatbelt
d-----         1/26/2021   8:39 PM                SharpDPAPI
d-----         1/26/2021   8:39 P

[2021-01-27 22:41] cobbr commented on #283
Hmm, looks okay... Can you try to:

[code]

And see if you still get the same error.

[2021-01-27 23:08] skrrrrrrrrrrrrrrrrrrrrr commented on #283
I'm pretty sure covenant.db doesn't exist.  rm Covenant\Data\covenant.db fails.

[2021-01-27 23:24] cobbr commented on #283
Ah, got it.

[2021-01-28 03:43] skrrrrrrrrrrrrrrrrrrrrr commented on #283
The instructions work on Kali Linux. I wonder why they don't work on Windows...

[2021-01-28 09:24] rasta-mouse commented on #283
Works on my Windows 10 LTSC 10.0.17763 (1809) machine.

[code]

[2021-01-31 19:36] johanssontobbe commented on #258
I could use this feature as well.

[2021-02-01 22:02] nodauf commented on #224
Having the same issue here. Did you find a workaround ?

[2021-02-02 23:23] cobbr commented on #283
Sorry @skrrrrrrrrrrrrrrrrrrrrr , I'm struggling to know what to say about this, I have not been able to reproduce the issue either.

Have you tried outside of the Commando VM in a standard Windows 10 build?

[2021-02-03 04:51] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Yes, I tried installing Covenant before installing Commando and I get the same error.

[2021-02-04 20:25] cobbr commented on #283
@skrrrrrrrrrrrrrrrrrrrrr Any chance you can step through this in a Visual Studio debugger and help me to figure out what's going on? It's happening right on launch, so I don't think it'd' be too difficult to trace.

[2021-02-04 22:21] cobbr commented on #281
Re-implemented the auto-scrolling, currently in dev branch.

[2021-02-04 22:21] #281 closed

[2021-02-04 22:33] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Sure, but I have never used the Visual Studio debugger or any debugger in general.

[2021-02-04 23:27] cobbr commented on #283
@skrrrrrrrrrrrrrrrrrrrrr Ahh, well no worries if you aren't comfortable doing it. But if you would like to, you'd just need to download Visual Studio, set a breakpoint, and click the Run button.

[2021-02-05 01:05] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Is Covenant.cs the file that I need to set a breakpoint on?

[2021-02-05 01:17] rasta-mouse commented on #283
I would start right at the beginning:
https://github.com/cobbr/Covenant/blob/master/Covenant/Covenant.cs#L41

[2021-02-05 01:19] cobbr commented on #283
Yeah you'd probably set a breakpoint here: https://github.com/cobbr/Covenant/blob/master/Covenant/Covenant.cs#L66

Check out what the values for `Common.CovenantSharpSploitDirectory` and `Common.CovenantRubeusDirectory` are, and see if those files actually exist on disk.

[2021-02-05 02:38] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Aha, they don't exist. "C:\\Users\\r0Data\\ReferenceSourceLibraries\\Rubeus\\" and "C:\\Users\\r0Data\\ReferenceSourceLibraries\\SharpSploit\\" are not to be found.  There is no folder in C:\Users named r0Data.

[2021-02-05 02:42] cobbr commented on #283
Any idea where r0 is coming from? What is the directory you are executing from? Is it not `C:\Users\mike\Tools\Covenant\Covenant`?

[2021-02-05 02:43] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Oh I changed the username. It is r0bin.

[2021-02-05 02:44] cobbr commented on #283
ahh, that explains it :)

[2021-02-05 02:44] cobbr commented on #283
The `bin` is throwing it off. I can work on that issue.

[2021-02-05 02:45] skrrrrrrrrrrrrrrrrrrrrr commented on #283
Alright.

[2021-02-05 19:24] cobbr commented on #221
Alright, so we finally have some movement on logging. Merged in @checkymander's PR, with a slightly altered log format if you want to start to see how it might fit in with RedELK @MarcOverIP

[2021-02-05 22:44] #212 closed

[2021-02-05 22:45] #235 closed

[2021-02-06 02:48] cobbr commented on #49
Added from @attl4s PR, in dev branch for now.

[2021-02-06 02:48] #49 closed

[2021-02-08 09:47] MarcOverIP commented on #221
Great, thank you. Whats the quickest way to get some example logs for us to work with?

/cc @fastlorenzo

[2021-02-09 23:58] cobbr commented on #221
Here's a few random samples. Might also be helpful to check the references for `ILoggable`: https://github.com/cobbr/Covenant/blob/5384760ae0d90fb48dbf6199eddd430c08052b7b/Covenant/Models/Common.cs#L12

[covenant_2021-02-05.00.log](https://github.com/cobbr/Covenant/files/5954941/covenant_2021-02-05.00.log)
[covenant_2021-02-08.00.log](https://github.com/cobbr/Covenant/files/5954942/covenant_2021-0

[2021-02-10 09:51] MarcOverIP commented on #221
Thank you, this helps to get started. We'll dive into this when we find the time. Feel free to ping us if this issue remains open longer than you feel comfortabel with :-)

[2021-02-10 16:57] cobbr commented on #221
Yep, no rush. I sure took my time on it, so don't feel like you have to rush for my sake.

[2021-02-10 18:46] cobbr commented on #258
@cetaSYN/anyone

I'm pretty confident that this is already possible. Just run `dotnet build` when you have Internet connection to build the project, take away Internet access, and then do `dotnet ./bin/Debug/net5.0/Covenant.dll` to run offline w/ no build.

(This is assuming dev branch using net5.0, will be a different path if you are still on netcore3.1)

I'll try to verify, but let me know if an

[2021-02-10 20:10] cobbr commented on #272
Can confirm what @f0cker has said, this appears to be a compilation issue with this specific MessageTransform, here's a copy of the MessageTransform that works @ac3lives :

[code]

With that being said, there's some UX/debugging problems that need to be fixed that I will work on. In the future, the MessageTransform should be tested to compile properly before being saved and an error displayed to t

[2021-02-10 21:07] fastlorenzo commented on #221
Awesome, thanks @cobbr !

[2021-02-11 21:32] cobbr commented on #143
Apologies for the very late response @s3nn @fasetto.

I'm not able to reproduce this issue, I'm thinking there must be an issue with the certificate you have created, but I'm not sure what.

Here's the instructions I used to generate a new certificate:

[code]

Make sure you do not use a password to protect the private PFX, Covenant is not expecting one.

[2021-02-11 21:36] cobbr commented on #193
Apologies for the very late response @last1warriro

I'm not able to reproduce this issue, I'm thinking there must be an issue with the certificate you have created, but I'm not sure what.

Here's the instructions I used to generate a new certificate:

[code]

Make sure you do not use a password to protect the private PFX, Covenant is not expecting one.

Let me know if you are able to try this agai

[2021-02-11 23:05] fasetto commented on #143
I was trying to use generated certificate from the Lets Encrypt. That is causing the error if I remember correctly.
I did setup nginx with reverse proxy instead, that solved my issue.

[2021-02-12 23:27] cobbr commented on #272
UX has been improved, compilation is tested prior to saving new/existing Profiles. Changes currently in dev branch.

[2021-02-12 23:27] #272 closed

[2021-02-12 23:27] cobbr commented on #54
Feature has been added. Changes currently in dev branch.

[2021-02-12 23:27] #54 closed

[2021-02-12 23:27] cobbr commented on #279
Has been fixed. Changes currently in dev branch.

[2021-02-12 23:27] #279 closed

[2021-02-12 23:28] cobbr commented on #188
Feature has been added. Changes currently in dev branch.

[2021-02-12 23:28] #188 closed

[2021-02-12 23:28] cobbr commented on #283
Has been fixed. Changes currently in dev branch.

[2021-02-12 23:28] #283 closed

[2021-02-12 23:28] cobbr commented on #80
UI has been modified. Changes currently in dev branch.

[2021-02-12 23:28] #80 closed

[2021-02-12 23:29] cobbr commented on #128
Feature has been added. Changes currently in dev branch.

@checkymander Unfortunately, for now, ReferenceSourceLibraries/ReferenceAssemblies/EmbeddResources are only supported on .NET Framework, not .NET core. Can work on that eventually.

[2021-02-12 23:29] #128 closed

[2021-02-12 23:29] cobbr commented on #181
Feature has been added. Changes currently in dev branch.

[2021-02-12 23:29] #181 closed

[2021-02-12 23:30] cobbr commented on #258
Going to close this for now. If I'm wrong and this is not possible via the method described, just let me know and we can re-open.

[2021-02-12 23:30] #258 closed

[2021-02-12 23:32] cobbr commented on #143
Hmm not sure why that would be necessary @fasetto .

Going to close this for now, since I am unable to reproduce. If anyone is still running into this issue, just let me know and we can re-open.

[2021-02-12 23:32] #143 closed

[2021-02-12 23:32] cobbr commented on #193
Going to close this for now, since I am unable to reproduce. If anyone is still running into this issue, just let me know and we can re-open.

[2021-02-12 23:32] #193 closed

[2021-02-12 23:40] cobbr commented on #278
@HolyOne Unable to reproduce this, are you sure that you didn't delete the ImplantTemplates also?

[2021-02-12 23:41] cobbr commented on #280
Ping @JABirchall , have you tried that command?

[2021-02-12 23:43] JABirchall commented on #280
Yea, It still throws the same error

[2021-02-12 23:44] #274 closed

[2021-02-12 23:45] cobbr commented on #273
Seems like this must be a routing issue. Closing for now, if I get a response would be happy to re-open.

[2021-02-12 23:45] #273 closed

[2021-02-12 23:49] cobbr commented on #267
Issue has been fixed. Changes are currently in dev branch.

[2021-02-12 23:49] #267 closed

[2021-02-12 23:52] cobbr commented on #259
Closing due to inactivity and unable to reproduce. If you are still having this issue @merlin123h , let me know and we can re-open.

[2021-02-12 23:52] #259 closed

[2021-02-12 23:56] cobbr commented on #228
Good catch @py7hagoras. Thanks for the heads up.

This should be fixed in the dev branch.

[2021-02-12 23:56] #228 closed

[2021-02-13 00:05] cobbr commented on #234
Great catch @Jormungand999 , apologies for the delay.

This has been fixed. Changes currently in dev branch.

[2021-02-13 00:05] #234 closed

[2021-02-13 00:08] cobbr commented on #252
@salu90 Apologies for the delay on this one.

As you have discovered, the Compiler currently is not handling SharpSploit's injection namespace well. The fix that was supposed to be temporary but has lasted longer than really intended was to skip code optimization for Tasks with the name "injection", which is why it works when that is included.

The real fix is going to be to fix the code optimizat

[2021-02-13 00:09] cobbr commented on #237
@a7t0fwa7 Apologies for the delay in getting back to you, I wasn't sure what to make of this one. Would you be able to try again with the code currently in the dev branch?

[2021-02-13 00:10] cobbr commented on #236
I've improved a lot of the error handling for Listener startup, would you mind trying again with the current dev branch @clr2of8 or @codewatchorg ?

If nothing else, hopefully you get a useful error message when trying to start your Listener.

[2021-02-13 00:11] cobbr commented on #280
Have you tried uninstalling dotnet and re-installing?

[2021-02-13 00:21] cobbr commented on #271
Oops! 🤦‍♂️

Thanks for the diagnosis and help on this one @rasta-mouse

This has been fixed. Changes are in dev branch. Let me know if you still have issues @a7t0fwa7

[2021-02-13 00:21] #271 closed

[2021-02-13 00:24] cobbr commented on #270
It's worth some consideration @PZegar , I have some reservations about publishing binaries, I'd really prefer that AV companies not starting blocking server-side only components.

Might be worth instructing users how to publish/run in the Wiki instead of using the SDK all the time.

If anyone has any thoughts on this, let me know.

[2021-02-13 00:25] cobbr commented on #264
I think this is a duplicate of #279 and has been fixed. Changes are currently in dev branch.

[2021-02-13 00:25] #264 closed

[2021-02-13 00:41] cobbr commented on #260
Glad it is working for you @S3cur3Th1sSh1t . Let me know if any issues persist.

[2021-02-13 00:41] #260 closed

[2021-02-13 04:39] cobbr commented on #257
I've made some changes so that Covenant better handles large file downloads, and has some better error handling. I'm hoping that this addresses this issue.

Is anyone able to re-test with the files you were having trouble with? @digitalohm @felixguerrero12 @serain @init5-msft @joeleonjr

[2021-02-13 04:51] cobbr commented on #240
Hey @m4rvxpn , sorry for the delay in getting back with you. I can't seem to reproduce this. I've made these changes to a template, and everything seems to be working okay.

Are you sure this isn't a problem with your proxy?

[2021-02-13 04:53] cobbr commented on #233
The Table implementation is very custom, so it would take some work to add this.

For now, I've changed the 'paginated item count' to more sane defaults and tried to declutter some of the tables so they display nicer, the Tasks table in particular should look better.

Hopefully this is a reasonable solution for now?

[2021-02-13 04:56] cobbr commented on #226
Hey @craigmar , apologies for the delayed response.

I'm still pretty skeptical about this detection. Even if it is a real detection, I don't want to take the path of modifying implants to avoid detection. AV evasion is a step left to the operator.

[2021-02-13 04:56] #226 closed

[2021-02-13 04:57] cobbr commented on #219
Glad you were able to get it working!

[2021-02-13 04:57] #219 closed

[2021-02-13 04:58] cobbr commented on #215
Closing due to inactivity and inability to reproduce.

[2021-02-13 04:58] #215 closed

[2021-02-13 05:01] cobbr commented on #164
Closing due to inactivity.

[2021-02-13 05:01] #164 closed

[2021-02-13 05:02] cobbr commented on #156
Ping @rasta-mouse

[2021-02-13 05:05] cobbr commented on #148
Closing due to inactivity. Happy to re-open if you are still working on this and having issues.

[2021-02-13 05:05] #148 closed

[2021-02-13 05:07] cobbr commented on #144
Hey @upils, apologies for missing this issue. This has been added for a little while now, so closing this issue.

[2021-02-13 05:07] #144 closed

[2021-02-13 06:25] cobbr commented on #158
@paulsg Can you try again on the dev branch? I think this should be fixed now.

[2021-02-13 06:28] cobbr commented on #268
@decardcain603 This is documented in the Wiki: https://github.com/cobbr/Covenant/wiki/Listeners

[2021-02-13 09:40] ben0 opened #286 "[Bug] Creating Dotnet 4 after creating dotnet 3.5 shellcode fails"
Hey cobbr!

I absolutely love covenant btw ;-)

I forget to change the dotnet version to 4 when creating grunt shellcode which is how I discovered this.

**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When creating dotnet 4.0 shellcode after creating dotnet 3.5 shellcode it fails, the browser sessions dies, a refresh is required.

**To Reproduce**
Steps to reproduce the be

[2021-02-13 09:59] PZegar commented on #270
Well yeah, I think that's definitely worth doing.

As for AV companies - well from my experience roslyn produces pretty much the same IL wherever you run it, that's more translation than compilation really - you know how it is with high lvl languages and bytecode. Native code JIT compiled from IL by the .net runtime differs from platform to platform - sure, but the bytecode is rather the same. And

[2021-02-13 17:39] cobbr commented on #286
@ben0 My guess is that this is a result of generating a Launcher while the first one is still being compiled.

Could you try out the dev branch and see if it works there? The UI should now lock launcher generation until the first one completes.

[2021-02-13 17:42] cobbr commented on #270
@PZegar Sure, of course AV companies can just compile it, but I'm always surprised at the laziness. I've found that releasing published binaries always encourages an easy block 😛

It is server-side, so maybe I shouldn't really care either way and just publish. Will keep thinking about it.

[2021-02-13 19:19] ben0 commented on #286
@cobbr Can't replicate in dev branch, works fine generating 3.5 and then 4.

Btw, I really like this branch - the UI is so much smoother to use.

[2021-02-13 19:19] #286 closed

[2021-02-13 19:21] cobbr commented on #286
Glad it's working 👍

[2021-02-13 23:03] cobbr commented on #262
Hey @v-p-b , apologies for the late response. Great catch, I'm pretty confused as to how this happened. But either way, it should be addressed in the current dev branch. Please use this with the new update to the C2Bridge in the dev branch on that project.

Closing for now, as I believe it is fixed. If it's still not working, we can re-open.

[2021-02-13 23:03] #262 closed

[2021-02-15 09:52] rasta-mouse commented on #156
Sorry @cobbr.  My test system is Windows 10 Enterprise LTSC (1809).

[2021-02-15 19:56] mkunz7 opened #287 "[Feature Request] Can we update mimikatz?"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
It looks like it's been a while (17 months https://github.com/cobbr/SharpSploit/tree/master/SharpSploit/Resources) since powerkatz was updated. Mimikatz fails with a key import error on the latest version of Windows. `ERROR kuhl_m_sekurlsa_acquireLSA ; Key import` https://github.com/gentilkiwi/mimikatz/issues/248

**To Reprodu

[2021-02-16 01:36] cobbr commented on #158
Closing for now, can reopen if you continue to have problems.

[2021-02-16 01:36] #158 closed

[2021-02-18 16:33] ajpc500 opened #288 "[Bug] JSON Content for HttpPostRequest in Listener Profile Fails to Establish C2"
**Bug**

When creating a custom HTTP listener profile, inclusion of JSON content for the HTTP POST/GET requests and responses leads to Covenant failing to establish a C2 channel with the Grunt. I'm not 100% sure if this issue exists when using JSON for all request/response fields, but can certainly be replicated when applied to the HttpPostRequest field.

**To Reproduce**
Steps to reproduce the be

[2021-02-18 17:34] cobbr commented on #288
Pushed a fix to the dev branch, would you mind giving it a try @ajpc500 ?

[2021-02-18 20:11] ajpc500 commented on #288
Perfect, yep all working with JSON output for all requests and responses 👍🏻

[2021-02-18 20:11] #288 closed

[2021-02-18 20:39] cobbr commented on #288
Great!

[2021-02-19 01:20] cobbr commented on #33
I've added a systemd service file template that can be used in the dev branch.

[2021-02-19 01:20] #33 closed

[2021-02-19 01:21] cobbr commented on #280
Marking this as done since it's working on other systems. Can re-open if you still have issues.

[2021-02-19 01:21] #280 closed

[2021-02-23 01:17] cobbr commented on #287
Mimikatz version has now been updated in the latest dev branch 👍

[2021-02-23 01:17] #287 closed

[2021-02-23 01:17] cobbr commented on #278
Closing due to inactivity. If you are still having this issue, let me know and we can re-open.

[2021-02-23 01:17] #278 closed

[2021-02-23 01:19] cobbr commented on #257
Bump. I know it's been awhile since the original post, but is anyone able to test? @digitalohm @felixguerrero12 @serain @init5-msft

[2021-02-23 01:20] cobbr commented on #252
This has been fixed in the dev branch! 👍

[2021-02-23 01:20] #252 closed

[2021-02-23 01:22] cobbr commented on #240
Closing due to inactivity. If you are still having this problem just let me know and we can re-open.

[2021-02-23 01:22] #240 closed

[2021-02-23 01:23] cobbr commented on #237
Closing due to inactivity. If you are still having this issue, let me know and we can re-open.

[2021-02-23 01:23] #237 closed

[2021-02-23 01:23] cobbr commented on #236
Closing due to inactivity. If either of you are still having this issue, let me know and we can re-open.

[2021-02-23 01:23] #236 closed

[2021-02-23 01:28] cobbr commented on #138
@kevindick I realize it's been awhile, but any chance you ever took a stab at that PR?

[2021-02-23 01:38] cobbr commented on #224
I can't seem to reproduce this issue, no matter how hard I try.

If anyone is still experiencing this issue, it would help me out immensely if you could give step-by-step instructions from start to finish on how to reproduce this. Preferably this would be a recorded screen capture. When doing so, please use the current dev branch and clear/reset your database/instance before beginning.

@gurbanli

[2021-02-24 00:05] cobbr commented on #124
I realize it's been a very long time since you file the issue @manasmbellani , but thanks for catching this. It's been fixed in the dev branch.

[2021-02-24 00:05] #124 closed

[2021-02-25 13:34] dyna92 commented on #287
i have a problem when execute the Invoke-Mimikatz.ps1 ,
"ERROR kuhl_m_sekurlsa_acquireLSA ; Logon list"
i have been looking for the solution , seems there is no update for the script that solve the problem !!!

[2021-02-25 15:50] cobbr commented on #287
Hey @dyna92 , this isn't the right place for Invoke-Mimikatz issues, but it looks to me like you are using an outdated version of Mimikatz.

[2021-02-26 02:54] vil3nce opened #289 "[Bug] Unmitigated Instability"
**BUG**
Almost everything will cause Covenant to crash

**specifically**
There have been so many unreasonable instances of Covenant crashing that I finally selected this one to make a goddamn bug report.
I'm trying to create a listener on port 80. Covenant doesn't like that.
The only changes from a default installation are some slight alterations to the listener profile, and a new grunt template w

[2021-02-26 02:58] checkymander commented on #289
Covenant doesn't like it because something is likely already listening on port 80. Kill it, and then start the listener. Does the entire Covenant process crash, or does it just display the stacktrace?

[2021-02-26 03:11] vil3nce commented on #289
whelp, it turns out that this is because I was setting the listener bind address to one that doesn't exist. I assumed my VPN connection was up, but it was not.
Foot, meet mouth.

[2021-02-26 03:11] vil3nce commented on #289
Thank you, and goodnight.

[2021-02-26 03:11] #289 closed

[2021-02-26 03:14] checkymander commented on #289
Glad it was something easy lol. Let us know if there are any other bugs you encounter, we can work on fixing them.

[2021-02-26 03:37] checkymander commented on #257
I just tested with the dev branch and it seems the issue is still valid. The download task fails with the same error outlined above.

[2021-02-26 03:43] checkymander commented on #121
So, this isn't 100% what you were asking for and it's been a long time. But currently in the dev branch there's new logging functionality that you could use to help you generating your reports. It includes a majority of the IOC's that you would logging. The only main thing missing is command output, which can be parsed directly from the database probably.

[2021-02-26 07:26] cobbr commented on #289
Hey @vil3nce, I’m always more than happy to help you debug issues you run into, either here or in the Slack channel.

But I am going to request that you come with a better attitude for future requests, or they likely won’t be serviced. Thanks.

[2021-02-27 16:42] dsolstad opened #290 "[Bug] Unable to build docker container"
I get the following errors when building the container:
kali@kali:~/Covenant/Covenant$ sudo docker build -t covenant .
Sending build context to Docker daemon  98.07MB
Step 1/10 : FROM mcr.microsoft.com/dotnet/core/sdk:3.1 AS build
 ---> ec3ca8a1472c
Step 2/10 : WORKDIR /app
 ---> Using cache
 ---> 594bc8804ec9
Step 3/10 : COPY . ./
 ---> Using cache
 ---> c18451b547cc
Step 4/10 : RUN dotnet publis

[2021-02-27 21:08] cobbr commented on #290
I'd make sure your docker host and docker guest is able to get out to the internet and DNS is working. To build the project it has to download nuget packages.

[2021-02-28 00:49] dsolstad commented on #290
Internet and DNS is working perfectly fine.

[2021-03-02 02:19] cobbr commented on #257
Can you share exactly what error you get @checkymander ?

[2021-03-02 05:53] checkymander commented on #257
So for some reason when I tried it tonight I didn't get the original error message, so displaying the downloads page is fine, but when you click "download" I get the following error:
[code]

For reference the lsass (2).dmp came out to about 84MB

[2021-03-02 06:41] cobbr commented on #257
Ahh, looks like a problem with the ContentTypeMapping dictionary. I'll give that a look.

[2021-03-02 14:49] checkymander commented on #257
Gonna test with a 4gb file to see if I can recreate the original issue.

[2021-03-02 18:08] checkymander commented on #257
Some other funness:

When downloading a file, the grunt eventually errors out with the following:
[code]

[2021-03-02 19:30] cobbr commented on #257
Just pushed a few changes, which should address any of the Base64 problems and ContentTypeMapping issue, probably won't help any OutOfMemoryException. I'll keep plugging away at this.

[2021-03-03 22:59] cobbr commented on #257
Alright, mind giving this another try @checkymander? Pushed some changes for memory management in the Download task.

[2021-03-04 08:45] ajpc500 opened #291 "[Bug] DotNetVersion field in the Launcher views does not reflect the .NET version selected post-creation."
**Bug**

When viewing a launcher created either via API or UI, the DotNetVersion dropdown does not reflect the .NET version used. Viewing the command-line output, it appears that the selected .NET version **is** reflected in the payload generated, and in the Launchers summary table, but viewing the launcher in the full page view it shows incorrectly. I notice a field change from dotnetframeworkver

[2021-03-04 08:58] ajpc500 opened #292 "[Bug] Handle to GruntSMB.exe not closed after shellcode creation"
**Bug**
When creating a shellcode launcher, the GruntSMB.exe is created in the Data/Temp Directory. Once the .bin files have been created, a handle persists to the GruntSMB.exe file. Creation of a new shellcode launcher (or modification of the existing one) leads to an error.

Deleting the launcher does not release the handle, and restarting the Covenant server is the only way i've found to releas

[2021-03-04 09:05] mpelas opened #293 "Software infected with win64:Malware-gen alert"
hello avast antivirus complains and blocks download of the software

Please advise because concerns arose following the October 2020 JSON Web Token issue
https://portswigger.net/daily-swig/breaking-the-covenant-researcher-discovers-critical-flaw-in-open-source-c2-framework#:~:text=Covenant%20is%20a%20.,interact%20with%20other%20offensive%20toolkits.

![covenant avast blocked](https://user-images.g

[2021-03-04 09:40] m0rv4i commented on #293
Can you just add an exclusion for it?

I don't think we can reasonably expect an open source red team framework server to not trigger AV when downloaded...

[2021-03-04 15:14] cobbr commented on #293
Hey @mpelas , I appreciate the concern. I think if AV companies are choosing to flag Covenant resources, that's their business, but we have no plans to change course based on this information.

[2021-03-04 15:26] mpelas commented on #293
Thanks for the replies.

[2021-03-04 15:30] #293 closed

[2021-03-04 22:28] cobbr commented on #292
Was able to reproduce this. Looks like this is a Windows-only bug, based on how Windows handles file handles.

@n1xbyte Also appears that this is a problem in the DonutCS dependency, so not able to fix the root issue on my own. I have a hacky fix that I may or may not push temporarily, but will crosspost in the DonutCS repo to see if we get a response.

[2021-03-04 23:22] cobbr commented on #292
@ajpc500 I went ahead and pushed a temporary, hacky fix. I don't like it as a long-term solution, but hopefully it's enough for you for now.

[2021-03-04 23:27] cobbr commented on #290
Well, seems like not if it's not able to get to nuget 😛

I would try building yourself a docker container and execute a command on the guest directly. My guess is that you will find the the guest either does not have internet access or DNS is not working.

[2021-03-04 23:29] cobbr commented on #290
You might check out: https://github.com/cobbr/Covenant/issues/191

It seems like some of had luck restarting the Docker daemon to fix internet issues.

[2021-03-05 03:33] cobbr commented on #291
This has been fixed in the dev branch, thanks for the heads up @ajpc500!

[2021-03-05 03:33] #291 closed

[2021-03-05 15:18] cobbr commented on #276
Hey @HolyOne , it looks to me like your BindPort and ConnectPort are the same, which is going to make it impossible for BridgeListeners to work correctly. You should be using a C2Bridge as a connector. For the TcpBridgeProfile specifically, you should be using the TCPC2Bridge: https://github.com/cobbr/C2Bridge

[2021-03-05 15:18] cobbr commented on #276
You might find this blog post helpful: https://cobbr.io/Covenant-Developing-Custom-C2-Protocols.html

[2021-03-05 18:58] py7hagoras opened #294 "[Bug] Importing a template fails"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Attempts to import an exported template fails.

**To Reproduce**
Export any Template and try to import it.

**Expected behavior**
Template should import without any errors just like for Tasks

**Screenshots**
![image](https://user-images.githubusercontent.com/6564346/110160998-be001e80-7dba-11eb-9d66-4d6aed9b6ede.png)

**Coven

[2021-03-05 19:16] cobbr commented on #294
@py7hagoras It looks like there's an issue with the YAML format you are using to import. How did you create the template YAML? Are you able to share the YAML text?

My guess is you are not using a YAML List, which is required for Import.

[2021-03-05 19:35] py7hagoras commented on #294
It was just a modified GruntHTTP template that I tried to import from another Covenant server. I also exported a default template eg GruntSMB and tried to re-import it to same server, but I got same error.

[2021-03-05 20:04] cobbr commented on #294
@py7hagoras Are you confident that you are using the latest commits to the dev branch? Are your two Covenant servers even at the same commit?

I'm unable to reproduce this, and I'm pretty confident in the level of testing I've done on template importing/exporting. But there has definitely been some adjustments over the last few weeks.

[2021-03-05 20:59] py7hagoras commented on #294
Yes, I cloned dev like 3 hours ago. I just checked for Tasks and its also the same error, cant import Tasks, tried on both chrome and IE.

[PrivateTemplate.txt](https://github.com/cobbr/Covenant/files/6093341/PrivateTemplate.txt)

[2021-03-05 21:16] cobbr commented on #294
@py7hagoras Yeah, as I suspected this template is not properly using a YAML list. Is it possible you generated this YAML file with an older version of Covenant? I would try re-generated the template YAML with the current dev branch.

[2021-03-05 22:21] py7hagoras commented on #294
@cobbr I have exported the default GruntSMB template from the latest dev, and tried to re-import it and got the same error. I have attached the exported GruntSMB template. I'm able to manually create a task or template, but exporting and re-importing doesn't seem to work for me.
[ExportedGruntSMBTemplateFromLatestDev.txt](https://github.com/cobbr/Covenant/files/6093714/ExportedGruntSMBTemplateFrom

[2021-03-05 22:26] cobbr commented on #294
Very weird. I think I have an idea what might be happening. There's a few different ways to export at this point, maybe I've missed patching one of them up. Are you using the Action bar to Export, the Export All button, or clicking Export from the edit page?

[2021-03-05 22:30] py7hagoras commented on #294
So I just tried from the Action bar, from the ImplantTemplates page and from the Edit page - they were all the same, couldn't re-import them

[2021-03-05 22:53] cobbr commented on #294
Can you run `git log` and grab the latest commit hash you are on?

[2021-03-05 22:56] cobbr commented on #294
Ok, so I am able to reproduce this, but only if I Export from the Edit page. I'm guessing that must be what's happening.

[2021-03-05 23:28] py7hagoras commented on #294
@cobbr Does this mean custom tasks generated from a previous Covenant version will have to be manually created for this latest version? or is there any other way around it?

[2021-03-06 00:05] cobbr commented on #294
I'm not sure, let me follow up, it may have always accepted a List. Either way it's pretty easy to convert it to a List.

[2021-03-06 12:11] dsolstad commented on #290
It helped to restart the docker daemon. Thanks!

[2021-03-08 07:00] biazar-sudo opened #296 "[Issue]launcher, DotNet Version not selected"
I cant generate launcher, I cant select  "DotNet Version" in launchers tab
![2021-03-08_10-24-44](https://user-images.githubusercontent.com/77272992/110286116-9a76e700-7ff9-11eb-81c5-7e9014b6198b.jpg)

[2021-03-08 15:55] cobbr commented on #296
@biazar-sudo Can you be more descriptive about the issue you are facing? It's not clear to me what the problem is.

If I were to guess without much information, it looks like you have not selected a Listener or ImplantTemplate. I would go ahead and select those first.

[2021-03-08 21:31] cobbr commented on #290
Awesome, glad that did the trick!

[2021-03-08 21:31] #290 closed

[2021-03-11 21:33] nodauf opened #297 "[Bug] Error: An unhandled exception occurred while processing the request when downloading a file"
**Bug**

**Describe the feature request or bug**
I was impersonating a user and trying to download a file. Once the download was complete the Data page was unavailable with the error: `An unhandled exception occurred while processing the request.` and the following stacktrace:
[code]

The sqlite database was containing the following line in the `events` table:
[code]
Once the line deleted the Data

[2021-03-11 21:43] cobbr commented on #297
Hey @nodauf, I believe this is a duplicate of #257

Closing this for now and tracking at the other issue. If you think this is a distinct issue, we can re-open it.

[2021-03-11 21:50] nodauf commented on #297
I am not really sure it's the same issue. I let decide but the other issue seems related with big file and memory whereas the file I have tried to download was only 10kb.
I think what break the Data page for my issue is that the Windows error message `Access to the path ...  is denied.` is added in the database instead of the base64 of the file.

[2021-03-11 21:57] cobbr commented on #297
Ah, I must have missed that. Hoping that this has been fixed by the changes made for the other issue, but we can double check. Have you tried this out on the current dev branch?

[2021-03-11 21:58] nodauf commented on #297
No, I will try to find time soon to have a clear step to reproduce it and test with the dev branch.

[2021-03-12 13:27] ChuanNegro opened #298 "Upload fucntion failed"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
I am trying to use a upload function.
After I choose the file and start task I got an error

System.UnauthorizedAccessException: Access to the path 'C:\Users\aecadmin\Desktop' is denied.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAcc

[2021-03-12 14:33] nodauf commented on #298
Hi,
Can you create a file with the command shellcmd or is there also an access denied ?

[2021-03-12 14:42] rasta-mouse commented on #298
@ChuanNegro you should also include the task parameters that you are using.

Remember that the `File.WriteAllBytes()` method in .NET requires the path to be absolute **and** should includes the filename and extension.  So your destination path should be `C:\Users\aecadmin\Desktop\file.whatever` and not just `C:\Users\aecadmin\Desktop`.

[2021-03-12 15:27] ChuanNegro commented on #298
@rasta-mouse
Thank you with absolute path it works. so the issue was between the chair and keyboard.

[2021-03-12 15:27] #298 closed

[2021-03-12 15:52] cobbr commented on #298
To be fair, the output could definitely be a bit more clear about what is going on. I'll keep that as a note for future improvement.

Thanks for grabbing this one @rasta-mouse

[2021-03-12 17:50] ChuanNegro commented on #297
Dev branch seems to fix it, but Upload fucntion is broken. it finnished the task but file on remote side has 0 size

[2021-03-12 19:45] nodauf commented on #297
Yes I agree with @ChuanNegro. It seems fix on dev branch. On the changelog there is ```Fix Download task exception on unexpected output```

[2021-03-12 19:45] #297 closed

[2021-03-12 19:57] cobbr commented on #297
Awesome, glad it is working. @ChuanNegro If you are having a problem with the Upload task, feel free to open an issue!

[2021-03-13 09:50] ChuanNegro opened #299 "[Bug|Feature Request] Short Description of Issue"
BUG

In Dev branch the upload does not work properly.
When I uploading the file, the upload task finished but the file size is 0.

On any active Grunt start upload task of any file.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/80527818/111026265-ad1e6100-83e9-11eb-9fb6-556aceeef1b0.png)
![image](https://user-images

[2021-03-13 20:09] cobbr commented on #299
Hey @ChuanNegro I'm not able to reproduce this issue. Have you tested with a file that is not likely to get picked up by AV?

Can you share the output of the Upload task?

[2021-03-15 10:19] ChuanNegro commented on #299
AV is turned off :
![image](https://user-images.githubusercontent.com/80527818/111136301-dcfe6d80-857d-11eb-8a79-78bf9574f598.png)
I am trying to upload the wmiexec.exe which has size around 6MB
![image](https://user-images.githubusercontent.com/80527818/111136363-f4d5f180-857d-11eb-84cd-17cc9a1888c9.png)
after I submit the upload task it finished with no errors
![image](https://user-images.github

[2021-03-15 10:23] ChuanNegro commented on #299
I tried to get Slack client install file ~87MB
![image](https://user-images.githubusercontent.com/80527818/111138723-9100f800-8580-11eb-89d8-55e446f7e9ab.png)
I added it into the upload task
![image](https://user-images.githubusercontent.com/80527818/111138806-aa09a900-8580-11eb-9bbf-bb3ba6fe7ec5.png)
and push
result is the same size is 226KB

![image](https://user-images.githubusercontent.com/805

[2021-03-15 14:14] cobbr commented on #299
Strange, I wonder if the problem is with large file uploads?

[2021-03-15 18:36] ChuanNegro commented on #299
Hi,
It seems like caching the file.
I tried to upload the small PNG image. It was done correctly and I can open it on the "Victim's" workstation
after this upload I took the exe file let it upload and it has same size as the previously uploaded EXE

![image](https://user-images.githubusercontent.com/80527818/111203763-ad735380-85c5-11eb-8959-2bd5556c310b.png)

is there any, like debug which I can

[2021-03-16 05:14] sentientchip opened #300 "[Bug] Pop Up functionalities disable Covenant controls until page refresh"
**Bug**

**Describe the feature request or bug**
When using covenant functionalities that would open a pop up, Covenant front end stops working.
Reproduction rate is 1 out of 10/20.

**To Reproduce**
1. Use the upload, inject functions (a pop up should open)
2. Screen fade show appears over the whole screen and any front end interaction stop being possible.
3. To resume front end control, a simple

[2021-03-17 13:23] ajpc500 commented on #292
hey @cobbr, apologies for the delay on this. I see you've prepended the random name for the Temp exe - certainly does the job for me, thank you 👍🏻 Presume you'll wanna leave this issue open until upstream Donut fix is applied?

[2021-03-17 14:49] cobbr commented on #299
So you are saying that it is uploading the same file each time, even after selecting different files?

Have you tried the dev branch to see if you have a different result?

[2021-03-17 14:50] cobbr commented on #292
Yep, let's leave this open for now 👍

[2021-03-19 10:34] ChuanNegro commented on #299
yes, it seems that it behaves like this. This is actually happening in DEV branch .

[2021-03-19 13:54] dsolstad opened #301 "[Feature Request] DNS implant"
Probably been asked about before, but is there any plans on implementing a DNS implant?

[2021-03-19 13:55] dsolstad opened #302 "[Feature Request] Import/export profiles"
Is there any reason why there is no functionality to import/export profiles? Could this be implemented?

[2021-03-19 13:58] dsolstad opened #303 "[Feature Request] Inject grunts into process"
I haven't explored Coventant that much yet, but with the look of it, it doesn't seem to be any functionality to inject grunts into processes. Can this be implemented?

[2021-03-19 15:36] cobbr commented on #302
Hey @dsolstad , this already exists in the dev branch if you are interested in that feature.

[2021-03-19 15:37] cobbr commented on #301
I don't have any plans to do this. If someone wants to develop it, I would merge the PR!

[2021-03-19 15:38] cobbr commented on #303
An `Inject` task has been added to the dev branch, if that suffices for your purposes.

[2021-03-19 16:04] rasta-mouse commented on #301
I looked into it before, but wasn't able to find a usable DNS library for .NET.
If anybody knows of one, I'd be happy to check it out.

[2021-03-19 16:34] dsolstad commented on #301
Looks like this guy is looking into implementing it. Maybe he knows of a usable DNS library: https://github.com/thiagomayllart/Covenant_Alternate

[2021-03-23 14:35] jfmaes opened #304 "Bug - Grunt is not updating it's killdate from the datepicker."
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
A clear and concise description of what the bug is.

The datepicker for grunt generation is not injecting the correct killdate back into the actual grunt.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Launchers (after creating an appropriate listener)'
2. Click on 'Binary.'
3. Scroll down to 'killdate'
4. Select

[2021-03-24 16:02] St3v3a commented on #224
Hi,
I have been doing some testing from Dev branch and from time to time get Untrusted HTTPGrunt's - I have just realised what the issue is and it is down to .Net4.8 preventing Reflection (most of the time I load my grunt's via multi cmd PowerShell cradle that loads an AMSI and then .Net 4.8 bypass which does the trick). But if you do run it directly even with Defender turned off .Net 4.8 still bl

[2021-03-26 22:21] init5-msft commented on #287
hi @cobbr
is this update gonna go to master anytime soon? ^^

[2021-03-29 10:18] jfmaes commented on #304
to add on that, seems like the default date value is not taking datetime.now into account but the datetime during installation. resulting in killdates of the past if you did not reinstall covenant for a while

[2021-03-31 08:18] rasta-mouse commented on #301
Ok, maybe this is feasible after all.

![image](https://user-images.githubusercontent.com/7346521/113113305-0f58cd80-9202-11eb-9d8d-9192663d5890.png)

[2021-03-31 17:38] cobbr commented on #287
It'll move to master whenever 0.7 is released, hopefully sooner rather than later, but have no specific date in mind. Any reason that dev doesn't do the trick @init5-msft ?

[2021-04-03 20:41] s7331 opened #306 "[Bug] Dev Branch: Listeners cannot host large files (~>0.5MB)"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
It seems that attempting to host files larger than 0.5MB results in an upload failure and then an application crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Covenant server (dev branch, latest).
2. Create HTTP (no ssl) listener on port 80 using either CustomHttpProfile or DefaultHttpProfile. (I did not test

[2021-04-03 22:07] s7331 commented on #306
After a bit more digging it seems like this is a limitation of the InputFile component (as part of the "Covenant/Components/HostedFiles/HostedFileForm.razor file in this case). According to the MS docs the InputFile component will throw an exception for any files larger than 512k bytes as a mechanism to protect devs from accidentally reading large files into memory.

https://docs.microsoft.com/en-

[2021-04-04 17:05] s7331 opened #308 "[Bug] Dev Branch: Mimikatz tasks failing to find decoy modules, not running."
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
On the dev branch I cannot run any mimikatz-related tasks successfully; I receive "Failed to find suitable decoy module." errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HTTP (no ssl) listener on port 80 with CustomHttpProfile preset.
2. Create an GruntHTTP launcher (tested shellcode, binary, and PS). I

[2021-04-06 12:07] edermi opened #309 "[Bug] Format Exception with custom template"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
I created a custom listener profile and receive stack traces when using HTTP grunts (see screenshots).
Basically, there seems to be a string format issue in the HTTP handler:
[code]

This had no negative impact for the operation of the grunt, but the uncomfortable feeling remains...

**To Reproduce**
Steps to reproduce the beh

[2021-04-11 17:01] n1xbyte commented on #292
Think the issue should be fixed up https://github.com/n1xbyte/donutCS/commit/fd7d36685299d1436529914935e1f6471a3441b9

[2021-04-11 19:41] mrblacyk commented on #84
hey, bumping this feature request. could use such feature. I'm not sure how it could be implemented in the UI though

[2021-04-12 10:50] drfinkus commented on #39
@cobbr I ran into the same issue as @rotarydrone recently. After digging in some more, it seems like this behavior is documented here: https://github.com/dotnet/runtime/issues/20876

In essence, it appears that the default behavior of the HTTP stack (SocketsHttpHandler) is to automagically set the SNI to the "Host:" request header value, if present, and use that in the TLS/SSL handshake.

Further

[2021-04-14 10:22] aancw opened #310 "[Bug] Add ConnectAddress is disabled in Edit mode [DEV/STABLE]"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Cannot add connectaddress when editing listener

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Listener
2. Edit listener
3. Click add connectaddress
4. See error

**Expected behavior**
Can add connect address like creating first listener

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-14 10:27] aancw commented on #296
Hi @biazar-sudo this issue exist when you are not creating Listener first. Please create listener and then go create launcher again.

CMIIW

[2021-04-14 14:29] cobbr commented on #310
Hey @aancw , this is intended functionality. You would have to create a new Listener to add ConnectAddresses.

[2021-04-14 14:30] cobbr commented on #309
Hey @edermi , are you able to share the custom listener profile that causes the issue? This will be difficult to debug without it.

[2021-04-14 14:31] aancw commented on #310
Ah i see, i think it's disabled because there is add button. Maybe remove add button in edit mode?

[2021-04-14 18:28] ANSUUVIOUS opened #311 "Feature Request - "getNetShares" being added back"
**Feature Request or Bug**
Feature Request

**Describe the feature request or bug**
The "getNetShares" command seems to be gone from the options within the interact page. I get a command not found, but a commit I saw 2 years ago had it. May this be re-added to the repo please?

[2021-04-14 20:09] edermi commented on #309
Sure, here you go. If you need anything else, I'll do my best.
[http_post.txt](https://github.com/cobbr/Covenant/files/6313450/http_post.txt)
[http_post_response.txt](https://github.com/cobbr/Covenant/files/6313451/http_post_response.txt)
[server_headers.txt](https://github.com/cobbr/Covenant/files/6313452/server_headers.txt)
[transform.txt](https://github.com/cobbr/Covenant/files/6313453/transfor

[2021-04-15 10:20] jannlemm0913 commented on #306
Thank you for bringing up this issue and finding the problem, we (@J05ePabl0 and me) had a very similar issue with PowerShellImport not correctly handling large obfuscated scripts. It was also behaving similarly to issue 299 (@ChuanNegro, this could be interesting for you as well) where old files were re-uploaded when files were too big.

We used the "hack" solution with increasing the maxAllowedS

[2021-04-16 08:16] aancw commented on #277
Still work in progress. What do you think @cobbr @HolyOne?

![image](https://user-images.githubusercontent.com/6284204/114994116-a7bfa500-9ec6-11eb-9a2d-d7cf8bef3b27.png)

[2021-04-20 16:17] sbrun opened #312 "[Feature Request] upgrade of covenant.db"
**Feature Request**
Feature Request

**Describe the feature request or bug**
After an update from version 0.5 to version 0.6, when we start covenant, it fails with an sqlite error.

If I understand correctly, you do not update the database. We need to remove the covenant.db to "fix" this.

**To Reproduce**
1. Install version 0.5 (by installing dotnet core)
2. Run covenant at least once to create t

[2021-04-20 16:25] cobbr commented on #312
@sbrun This is expected behavior, Covenant does not include database migrations for now, the database must be reset between version upgrades. Might look into that around the v1.0 timeframe.

[2021-04-20 16:27] cobbr commented on #312
Will track this as a long-term feature request.

[2021-04-20 16:35] sbrun commented on #312
I thought it was the desired behavior. Thanks for the confirmation.
It would be a nice feature to have.

[2021-04-21 07:30] rudesec opened #313 "[Bug] Package DonutCore not found"
**Bug**
Bug

**Describe the feature request or bug**
Can't install Convenant because package DonutCore is not available.

/app/Covenant.csproj : error NU1101: Unable to find package DonutCore. No packages exist with this id in source(s): nuget.org

https://www.nuget.org/packages/DonutCore/

**To Reproduce**
Installation via Option 1 or 2

[2021-04-21 11:47] ameyrk18 commented on #313
n1xbyte is the maintainer of this repo https://github.com/n1xbyte/donutCS

[2021-04-21 14:02] rvrsh3ll commented on #313
Workaround:
git clone https://github.com/n1xbyte/donutCS
cd donutCS
dotnet build
<copy Donut.dll to Covenant\refs folder>
comment the DonutCore line

add this

<Reference Include="DonutCore">
      <HintPath>refs\Donut.dll</HintPath>
    </Reference>

[2021-04-21 14:52] n1xbyte commented on #313
![deleted](https://user-images.githubusercontent.com/18420902/115573850-56286900-a27e-11eb-8449-bbb611d60e93.PNG)

Trying to figure something out. For now @rvrsh3ll fix should work

[2021-04-22 02:14] cobbr commented on #313
Fixed in 5decc3ccfab04e6e881ed00c9de649740dac8ad1

Let me know if you continue to have issues

[2021-04-22 02:14] #313 closed

[2021-04-22 02:25] Haunted-Banshee opened #314 "找不到 DonutCore"
C:\Users\BlackWin\Desktop\Covenant-0.6\Covenant\Covenant.csproj : error NU1101: Unable to find package DonutCore. No packages exist with this id in source(s): nuget.org

[2021-04-22 03:08] checkymander commented on #314
https://github.com/cobbr/Covenant/issues/313 update to the most recent version, it should be fixed now.

[2021-04-22 03:42] cobbr commented on #314
Closing as duplicate

[2021-04-22 03:42] #314 closed, assigned to cobbr

[2021-04-22 23:12] cobbr commented on #310
The button is disabled on the edit page, correct @aancw ?

[2021-04-22 23:20] aancw commented on #310
Yes, disabled. I was misunderstanding when I saw add button but it disabled. My bad. Maybe this issue is closed.

[2021-04-22 23:20] #310 closed

[2021-04-22 23:30] cobbr commented on #310
Going to remove the Add button from the HttpListenerForm when editing. Will be reflected in the dev branch here shortly.

[2021-04-22 23:43] cobbr commented on #311
You are right, looks like this task got lost. Will be added back in here shortly.

[2021-04-22 23:56] cobbr commented on #311
Fixed in dev 49d979644468380eef4d6b627550c75ff501dca8

[2021-04-22 23:56] #311 closed

[2021-04-22 23:56] #303 closed

[2021-04-22 23:56] #302 closed

[2021-04-22 23:57] cobbr commented on #300
This seems to happen if it's not the first tab opened. Fixed in dev branch.

[2021-04-22 23:57] #300 closed

[2021-04-23 07:58] aancw commented on #277
Done. Will making PR
![image](https://user-images.githubusercontent.com/6284204/115838826-43f82780-a444-11eb-8504-15483cfb8c85.png)

[2021-04-23 08:34] aancw commented on #312
I've search about database migration feature for Razor and end up with this link:
https://www.learnrazorpages.com/razor-pages/tutorial/bakery/migration

I hope it can help :)

[2021-04-23 08:43] aancw commented on #308
I'm just helping to answer, after reading the source code, the cause for this issue is NullorEmpty Decoy Path https://github.com/cobbr/SharpSploit/blob/ec3e7999502c51e481915fd1f4b028d8c0ff3d5c/SharpSploit/Execution/ManualMap/Overload.cs#L133:

![image](https://user-images.githubusercontent.com/6284204/115844384-f7afe600-a449-11eb-8a54-76a54fa882f2.png)

[code]

https://github.com/cobbr/SharpSploit

[2021-04-23 08:53] aancw commented on #304
![image](https://user-images.githubusercontent.com/6284204/115846276-ee277d80-a44b-11eb-8bc5-e688b30e1306.png)

Confirmed it reset to default

![image](https://user-images.githubusercontent.com/6284204/115846358-04cdd480-a44c-11eb-9223-3439b9e7b6fe.png)

[2021-04-29 14:00] py7hagoras opened #316 "[Bug] Command issued in Hidden grunts dont produce output"
**Feature Request or Bug**
 Bug

**Describe the feature request or bug**
Command issued in Hidden grunts don't produce output, though are tasked, but no output/

**To Reproduce**
Steps to reproduce the behavior:
1. Hide a grunt
2. Interact with it and issue a command like "whoami"
3. The command is tasked, but there is no output
4. UnHide the grunt
5.  Interact with it and issue a command like "wh

[2021-05-01 01:12] cobbr commented on #316
Changed how "hiding" Grunts affects the model, which has fixed this issue. Fixed in dev branch.

[2021-05-01 01:12] #316 closed, assigned to cobbr

[2021-05-01 18:33] cobbr commented on #308
I actually can't reproduce this, I wonder if it's specific to a certain Windows version?

[2021-05-01 19:15] cobbr commented on #306
Great catch @s7331 and @jannlemm0913, I wasn't aware of this limitation. I've implemented a higher maxAllowedSize for now. Fixed in dev branch.

[2021-05-01 19:15] #306 closed

[2021-05-01 19:17] cobbr commented on #292
The updated version of donutCS has been adpoted in the latest dev branch. Thanks @n1xbyte!

[2021-05-01 19:17] #292 closed

[2021-05-01 20:49] cobbr commented on #304
It turns out the bootstrap-datetimepicker doesn't trigger the onchange event when selecting via the UI.

Had to do some frustrating javascript interop to fix this, but it's fixed in the dev branch. If you are still on master, you can work around this by typing a date into the input field manually.

[2021-05-01 20:49] #304 closed

[2021-05-01 20:51] cobbr commented on #299
I'm wondering if this is related to #306, which has been fixed. Can you pull and re-test @ChuanNegro ? The current largest supported file size is 50MB.

[2021-05-01 20:53] #296 closed

[2021-05-01 20:59] cobbr commented on #294
I believe this issue has been fixed in dev.

[2021-05-01 20:59] #294 closed

[2021-05-01 21:03] cobbr commented on #257
I believe this has been fixed, closing due to inactivity, just let me know if we need to re-open.

[2021-05-01 21:03] #257 closed

[2021-05-01 21:06] cobbr commented on #224
@St3v3a This just looks like an AMSI issue. There's a lot more that needs to be done to disable Defender than to click the "off" toggle button these days.

[2021-05-01 21:07] cobbr commented on #224
I haven't gotten the detail I need to address this issue, so I am closing due to inactivity. If I ever get the level of detail needed to reproduce, I can always re-open this.

[2021-05-01 21:07] #224 closed

[2021-05-03 04:51] cobbr commented on #84
Bumping up the priority on this. There will be UI work, but it's a lot more feasible now.

[2021-05-03 04:54] cobbr commented on #312
I'm sure EntityFrameworkCore has features for DB migration. But I'm not comfortable with the overhead this will create until we have at least reached a v1.0.

[2021-05-03 08:40] theguly commented on #243
hi there, i see this issue is still alive and kickin.
do think you will accept a PR that fixes as https://github.com/cobbr/Covenant/issues/243#issuecomment-694539808 points out?

[2021-05-03 15:32] cobbr commented on #243
Hey @theguly , I'm not sure what you mean. This issue has been closed.

[2021-05-03 19:57] theguly commented on #243
thanks for the reply. yes, the issue is closed, but instructions to run covenant as docker container leads to the error about submodules that has been raised last september.

maybe the issue is not resolved, and because the workaround posted here works i'm offering to prepare and send a pull request if you think it could be useful.

[2021-05-03 20:37] cobbr commented on #243
Hi @theguly , it will not give that error if you have correctly cloned the submodules. I don't think a workaround is needed, unless I am misunderstanding something.

[2021-05-04 00:48] thelikes commented on #308
Also receiving the same. System info:

[code]

Any other info I can provide that would be helpful? (There are no errors in the terminal that is running cov)

[2021-05-04 06:33] theguly commented on #243
i am following instruction step by step:
[code]

and the command replies with a:
[code]

[2021-05-06 04:57] HolyOne commented on #277
Thats much better,
An alternative way could be a link to wiki somewhere for long descriptions

[2021-05-06 05:02] aancw commented on #277
@HolyOne That's full description from wiki.

[2021-05-09 02:28] ghost commented on #308
I got the same problem using `DCSync`

![dcsync](https://user-images.githubusercontent.com/37394329/117558534-7a83a280-b0d2-11eb-8dc0-a3c525353a91.PNG)

[code]

[2021-05-15 15:57] pravingit commented on #263
Same issue even after changing the ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072 | SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls; in stager code. appreciate if you can provide resolution ASAP.

[2021-05-19 02:37] juliourena commented on #308
Same Issue

Using Covenant Dev commit eb51840b1cb4d285393a3c661c1d72d08756ef4d

![image](https://user-images.githubusercontent.com/29603107/118747409-f1820f00-b827-11eb-9174-a350f249ed96.png)

[code]

![image](https://user-images.githubusercontent.com/29603107/118747881-d95ebf80-b828-11eb-8db0-aadfe1a8b5c6.png)
[code]

Works on this system with the same Covenant session:

![image](https://user-ima

[2021-05-24 09:05] paulsg opened #317 "[Bug|Feature Request] Screenshot data not being returned via API or GruntTasking"
When executing "screenshot" on "/api/grunts/<gruntid>/interact" the resulting commandoutput ID does not contain the screenshot, the value is always "", also when viewing the GruntTasking via the web interface the output is also ""

base64 screenshot data does not appear to not be returned

![image](https://user-images.githubusercontent.com/10218681/119324160-19eb8c80-bcb2-11eb-9ffa-239c6b1d4a39.pn

[2021-05-24 20:44] niblex opened #318 "[Bug] Seatbelt via SMBGrunt"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Executing any Seatbelt command via SMBgrunt results in no output and the loss of the SMBgrunt.

**To Reproduce**
1. Clone dev branch
2. Setup listener (used CustomHttpProfile)
3. Generate binary HTTPgrunt (Net40) and execute on client, context of admin user, medium integrity. (Seatbelt works here)
4. Generate binary SMBgrunt (

[2021-05-27 13:33] chr0n1k commented on #297
Hi,

Sorry not sure if I should open a new issue or continue on this one but its related to downloading large files using the dev branch. I get this error:

[code]

This also causes the server to crash and everytime its started again, since the download is still going on, it hangs the session and again crashes the server.

[2021-05-27 18:01] v-p-b opened #319 "[Bug] HTTP response templates mixup"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Listeners start to serve responses based on profiles of different listeners, practically killing grunt communication.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom HTTP Profile (A)
2. Create a custom HTTP Profile (B) with HttpGetResponse/HttpPostResponse different from A
3. Create Listener with A
4. Cre

[2021-06-01 20:40] pavlidiselias opened #320 "[Bug] Dev Branch - UI Issue with deleting the last grunt in list"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When there is only one Grunt left in the Grunt tab, if you click on the "Action" dropdown menu, a scroll bar appears and results in some weird behaviour. The actual menu is not scrollable but rather you are able to scroll "down" with the grunt becoming invisible/out of view, the issue being that the final option; "Delete", is

[2021-06-02 02:19] cobbr commented on #318
I can't quite reproduce what you are saying, but I am noticing that the Seatbelt output won't come until I issue another task. Not sure why that it is, will look into it. Can you check if that's what you are running into?

[2021-06-02 20:08] cobbr commented on #319
@v-p-b It's not currently supported to modify Profiles that are currently in use by any Listener, whether started or stopped. I believe in the dev branch, the UI will not allow you to make modifications.

[2021-06-02 20:12] cobbr commented on #320
If there's any UI devs better than me that would like to take this, that would be great!

[2021-06-02 23:20] BackToTheFuture1955 opened #321 "Possible issue with /Data after invalid download command"
When I went to download a file by accident I typed in the wrong file path to download. So I typed c:\widows\system32\filename instead of c:\windows\system32\filename. Once I did that not knowing I typed the wrong path and went to the /data path the page didn't change. The url in the web browser did but the page didn't change. So I hit enter to refresh the browser and got the following messageSyste

[2021-06-03 08:28] v-p-b commented on #319
Thanks, that's good to know, even better if the limitation is suggested by the UI, like apparently it is in the dev branch. You can close this if you like.

[2021-06-03 16:39] cobbr commented on #321
@PleaseTakeItEasy Are you using the master or dev branch? Could you check if this is happening in the dev branch?

[2021-06-03 17:57] niblex commented on #318
Confirmed, if I issue another task seatbelt returns it's output, noticed same behaviour with Rubeus tasks as well. At least I can work around it now I know the behaviour.

[2021-06-06 18:09] BackToTheFuture1955 commented on #321
@cobbr So I am using Kali Linux with .NET 3 and the fork that Rasta uses for his class. I installed .NET 5, downloaded the dev branch and recursive submodules but the build fails. I might just have to spin up another box to keep them separate. How long can you keep a ticket open for?

[2021-06-06 18:26] BackToTheFuture1955 commented on #321
@cobbr I can confirm it doesn't happen in the dev branch. So I guess case closed.

[2021-06-08 15:38] javierantunez opened #323 "[Bug][Question] Covenant Team Server Memory Consumption"
When using Covenant normally on a Ubuntu Server, after some time of use memory use spikes gradually until the oom_killer kills the Covenant process.
I tried resizing the vm several times, from 4GB up to 16GB, but the problem persists and eventually covenant server crashes.
I don't know if the HW requirements are not meeted in my scenario or there is a bug.

dmesg
[2385505.072155] oom-kill:constrai

[2021-06-08 16:07] cobbr commented on #323
I appreciate that this could be a frustrating issue, but I'm going to need help identifying memory leaks, if they exist. I'm not able to tell what the issue is from this description.

[2021-06-08 18:15] javierantunez commented on #323
Ok Ryan. Thanks for the quick response. Please let me know if i can be useful or if you can give me some directions on what to look.

[2021-06-14 10:10] chosenonehacks opened #324 "[Bug] Dev Branch: Cannot create Listener with SSL Certificate"
**[Bug|] Dev Branch: Cannot create Listener with SSL Certificate**

Created self-signed certificate and added to the new listener. Upon creation it errors with the following error:

Obviously, the password is correct.

This issue is not present in the master branch. I can add cert without errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Listener
2. Click on USE SSL
3. Add

[2021-06-21 09:47] tionwayne2021 opened #325 "listener issues when using http redirects and certificate"
i cannot change the urls to a domain and use connectaddress as an ip address

[2021-06-21 09:48] tionwayne2021 commented on #325
![Uploading Screenshot 2021-06-21 at 05.48.46.png…]()

[2021-06-28 11:03] ghost opened #326 "123"

[2021-07-11 10:45] mrbaselier opened #327 "[Bug] Unable to create a listener"
**Bug**
I am unable to create listeners (and no error appears)

**Describe the feature request or bug**
I installed Covenant on my Kali machine. I first installed DotNet 3.1 (sudo apt-get install -y dotnet-sdk-3.1) and then installed Covenant (git clone --recurse-submodules https://github.com/cobbr/Covenant).

When starting Covenant I see:
[code]

Then I can create a username and password through

[2021-07-25 14:35] grenej opened #328 "[Bug] Spaces in Command option in Mimikatz task are splitting commands"
Bug

I am trying to exetute this command within Mimikatz:

dpapi::chrome /in:"%localappdata%\Google\Chrome\User Data\Defaults\Cookies" /unprotect

So I put it into command field, but Task executor divide "dpapi::chrome" and rest of command (i.e /in:...)and treat is as separate commands.

Howto execute such one-liner with parameter that also need to be in quotes?

**To Reproduce**
Steps to reproduc

[2021-07-26 07:42] rasta-mouse commented on #328
@grenej pretty sure this is due to the way PowerKatz handles the input, nothing to do with Covenant.

[2021-07-30 07:00] ll3N1GmAll opened #329 "[Bug] powershell encoded command fails"
Bug

**Describe the feature request or bug**
The encoded command for the powershell launcher fails to execute.

**To Reproduce**
Steps to reproduce the behavior:
1. create powershell launcher
2. copy encoded command output
3. paste command into windows terminal

**Expected behavior**
target connects to Covenant

**Screenshots**
no screen shots available

**Covenant Server Information:**
 - OS: kal

[2021-07-30 07:16] ll3N1GmAll opened #330 "[Bug] Powershell launcher fails"
Bug

Describe the feature request or bug
The powershell launcher fails to execute.

To Reproduce
Steps to reproduce the behavior:

create powershell launcher
copy encoded command output
paste command into windows terminal
Expected behavior
target connects to Covenant

Screenshots
no screen shots available

Covenant Server Information:

OS: kali and windows
Docker or Native: Native
Browser Informat

[2021-07-30 20:36] ll3N1GmAll commented on #330
it appears this was being truncated in the terminal. I verified this worked from the standard terminal after RDPing into the target server.

[2021-07-30 20:36] #330 closed, assigned to cobbr

[2021-07-30 20:38] ll3N1GmAll commented on #329
I RDP'd directly into the target server and tried to use the -encodedcommand in the standard windows terminal; but it appears that it is being truncated. I noticed the same issue in [Bug] Powershell launcher fails #330; but RDPing in and pasting the command resolved the issue. This encoded command is too large to paste into the terminal though and saving it as a bat file writes to disk and trigger

[2021-08-07 10:53] jannlemm0913 commented on #308
I've looked into this as I had the same problem. After adding some console output into SharpSploit's Overload.cs if-statements, I got the following result when running `Mimikatz /command:"coffee"` :
- A lot of DLLs are found that fit the size requirement (file size > payload size) in C:\Windows\System32
- None of them are found to be signed (Misc.Utilities.FileHasValidSignature(currentCandidate) i

[2021-08-10 16:25] jannlemm0913 commented on #324
I've looked into this, and it seems that this is caused by the dev branch using .NET 5 and the master branch using .NET 3.1 (not 100% sure on the versions). When googling the error, I found the following [issue from dotnet](https://github.com/dotnet/runtime/issues/44535#issuecomment-725616327), showing that in .NET 5, the `-certfile` parameter should be omitted.

If I try to start a listener with

[2021-08-13 21:27] cobbr commented on #308
Pushed a temporary fix where Mimikatz does not required signed modules.

Thanks for the tip @jannlemm0913

[2021-08-23 16:41] aith0n opened #331 "[Question] - Covenant stageless payload"
Hi!
Just a quick question: Is there an option to generate a stageless payload?

Thanks

PS: Just wanna say a huge thank you for this awesome tool. I'm definitely a Covenant fanboy! :)

[2021-08-25 13:21] DonnieMarco opened #332 "[Bug] GruntHTTP.exe failing to execute."
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When executing a vanilla GruntHTTP.exe on a windows build with real-time protection switched off, the execution fails

**To Reproduce**
Steps to reproduce the behavior:
1. Create a HTTP Listener, modifying the name, port and connect address
2. Select Launchers -> Binary
3. Select the Listener created in step 1 and the GruntHTT

[2021-08-26 16:54] vil3nce commented on #332
Tracing the error, it comes from line 98 of the default template:
 wc.DownloadString(uri + profileHttpUrls[random.Next(ProfileHttpUrls.Count)].Replace("{GUID}", ""));
I stepped through it, and system.uri is throwing a ParsingError.BadAuthority because the first two characters of the full URL (http://<domain>:80/en-us/docs.html?type=&v=1) are not / or \\
edit: the MustHaveAuthority URI flag is set,

[2021-09-02 10:03] HackBalak commented on #332
I have the same Issue just like you @DonnieMarco and still can't resolve it

[2021-09-03 22:34] HackBalak commented on #332
Hi @DonnieMarco , I was having the same problem just like you then I used the  **dev branch** and it's worked for me :

- here is the steps
[code]
Thanks to @shorepwn

[2021-09-18 01:53] JonS1156 opened #334 "[Bug] InstallUtil DLL launcher issue in dev branch"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
In the dev branch, when I use the OutputKind setting DynamicallyLinkedLibrary I get the error:
`System.NullReferenceException: Object reference not set to an instance of an object.`
Other OutputKind options seem to work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate standard listener (in my test non-SSL)

[2021-09-21 19:27] mlcsec commented on #332
@HackBalak Same issue still persists after dev branch install, what env are you using for covenant?

[2021-09-21 20:20] HackBalak commented on #332
@mlcsec make sure you run dotnet commands using root . because covenant need some permissions only root can run them ( even if using **sudo** ), hope this can solve your Issues ;) .

[2021-09-22 08:22] mlcsec commented on #332
@HackBalak I was using root, will try with a fresh kali build!

[2021-09-23 18:56] mlcsec commented on #332
@HackBalak fresh install as root using dev branch and still getting error:

![image](https://user-images.githubusercontent.com/47215311/134567134-552389e0-23e0-4963-b431-2265bc3bf682.png)

[2021-09-23 19:06] HackBalak commented on #332
@mlcsec I guess this is not a problem in covenant, it's a routing problem from the victim machine to your kali.

[2021-09-23 19:12] HackBalak commented on #332
@mlcsec you can come private to figure out what is the problem!!!

[2021-09-24 11:27] mlcsec commented on #332
@HackBalak got it working cheers :D

[2021-10-06 15:06] #326 closed, assigned to nobody

[2021-10-07 18:59] Selora opened #335 "[Feature Request] Refactor .razor blazor components to use partial classes"
# Feature Request

Refactor large blazer components so their code section is in dedicated CSharp classes.

Large Blazer components are hard to debug. A breakpoint can only be set for the whole `@code{...}` section, and the behavior is erratic at best.

## Detailed Problem

For example, if one wants to attach a debugger and inspect the values passed on to a task through the grunt interact menu, a "

[2021-10-08 09:02] rasta-mouse commented on #335
My IDE is able to debug inside a component just fine.

![image](https://user-images.githubusercontent.com/7346521/136529095-9031a1da-2166-44df-9001-72be5548bbc9.png)

[2021-10-08 14:23] Selora commented on #335
Seems like a Visual Studio related issue. By switching to another IDE I'm indeed able to debug a component `@code{...}` section just fine.
As a bonus, I even get syntax coloring and code completion inside a .razor file, which seems to be too much for VS.

Closing the issue.
For posterity, JetBrains Rider, VSCode or VS 2022 preview will work just fine. Seems like my build of VS 2019 16.11 has some

[2021-10-08 14:23] #335 closed, assigned to cobbr

[2021-10-23 16:27] royharoush commented on #161
happensd to me now, with the exact same scenario\flow of docker

[2021-10-24 08:46] paulsg opened #336 "[Feature Request] launcher binary API does not disclose binary msil contents of loaders."
Feature Request

**Describe the feature request or bug**
To use the API to generate binary payloads (dot net exe, compiled msil) for covenant launchers.  the API use to do this long ago, but the feature was removed. its really missed, i love the platform but the crippled API is a pain.

**To Reproduce**
Steps to reproduce the behavior:
1. The API does not contain the base64 encoded msil  data, onl

[2021-11-15 12:16] Higgsx opened #337 "[Bug|Feature Request] Screenshot Issue"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
For a long time I have trouble getting screenshots from compromised systems (grunts). When I issue command: `Screenshot` I always get empty picture
![2021-11-15 15_59_24-Window](https://user-images.githubusercontent.com/11138119/141778518-49fba466-092b-467c-8144-9816d9bb6ac1.png)

First time I tried this was few months ago and

[2021-11-17 14:38] ameyrk18 opened #338 "[Bug] - UI freezes and DefaultAntiforgery error"
**Bug**
UI freezes and DefaultAntiforgery error

**Bug description**
Covenant UI freezes after sometime post launching. Please see the attached screenshot. We need to refresh the page in order to get rid of the error. However, post refresh the error still appears.
![Screenshot 2021-11-17 at 18 10 45](https://user-images.githubusercontent.com/35199331/142217842-fa80ab1c-6e1a-43ee-b5a2-5b7e3c1622f6.

[2021-11-27 17:28] AyberkHalac commented on #115
cant create listener in kali 2021.2. When I press create it doesnt give me a listener + no exceptions

[2021-11-28 14:46] AyberkHalac commented on #327
same problem with 2021.4

[2021-12-02 23:53] R3dP1ll commented on #287
Hello @cobbr

I just tried mimikatz on the dev branch and it fails (Grunts die)

On the hosts I get this error EventID 1000
Faulting application name: powershell.exe, version: 10.0.19041.546, time stamp: 0x7eda4115
Faulting module name: ntdll.dll, version: 10.0.19041.1288, time stamp: 0xa280d1d6
Exception code: 0xc0000409
Fault offset: 0x00000000000a2070
Faulting process id: 0x2650
Faulting applic

[2021-12-07 17:22] T35R6braPwgDJKq opened #339 "[Bug] Assembly SharpGPOAbuse kills grunt"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
[code]
just cloned the sharpgpoabuse repo and executed the above.
The grunt will go offline the task will be in state "Assembly tasked"

**Covenant Server Information:**
 - OS: kali
 - Docker or Native: docker, dev branch

**Browser Information:**
 - Browser firefox

**Target Information (System that implant is running on):**

[2021-12-07 19:21] rasta-mouse commented on #339
I suspect this is not an issue with the Grunt, but SharpGPOAbuse itself.  If you review the source code, there are multiple instances where it calls `System.Environment.Exit(0);`

[2021-12-07 21:09] cobbr commented on #339
`Environment.Exit()` is evil

[2021-12-08 04:49] mimidogz opened #340 "[Bug] Unhandled exception causes fail to CreateGrunt and task cannot be sent normally"
Feature Request or Bug
Bug

Describe the feature request or bug

Covenant Server Information:

OS: Ubuntu 20.04
Docker or Native: Native, master branch

Target Information (System that implant is running on):

OS: Microsoft Windows 10

In fact, I did not find a good way to reproduce. When I use covenant, sometimes the following error occurs. When the error occurs, grunt cannot connect back, and it

[2021-12-08 11:44] T35R6braPwgDJKq commented on #339
thanks - thats was the right hint;

[2021-12-08 11:44] #339 closed, assigned to cobbr

[2021-12-08 15:18] T35R6braPwgDJKq opened #341 "[Bug] Mimikatz golden ticket task kills grunt"
local (works)
[code]

covenant powershell (does not work)
[code]
State tasked, never ending

covenant task  (does not work)
[code]
State tasked, never ending, killing Grunt (Powershell stopped working...)

**Covenant Server Information:**
 - OS: kali
 - Docker or Native: docker, dev branch

**Browser Information:**
 - Browser firefox

**Target Information (System that implant is running on):**
 -

[2021-12-09 16:27] T35R6braPwgDJKq opened #342 "[Bug] PowerView Get-DomainSID -Domain other: Exception calling "FindOne" with "0" argument(s): "An operations error occurred."
using this:
https://github.com/PowerShellMafia/PowerSploit/blob/master/Recon/PowerView.ps1
[code]

locally it works:
[code]

dev branch in docker on kali vs Microsoft Windows Server 2012 R2 Standard

Edit:

maybe relevant:
locally
[code]

in covenant
[code]
The covenant session was initiated via:
[code]

[2021-12-09 19:23] rasta-mouse commented on #342
The fact you moved laterally using WMI means that your Grunt is running in Session 0 on the target.  It not being able to find a referral to domain is not an issue with the Grunt, it's your execution context.  You should move into a desktop sessions owned by a user, or pass the `-Server` option to explicitly provide the IP address of the target domain controller.

[2021-12-10 08:06] T35R6braPwgDJKq commented on #342
Thanks for the explanation - that makes sense. How would I migrate the existing Grunt to a desktop session?
you meant like that?
[code]
It also yields:

[2021-12-10 10:50] rasta-mouse commented on #342
Most likely you will need to use process injection or find some other means of running a process in their session.

[2021-12-19 11:17] Chomikmarkus opened #343 "ScreenShot"
Seems like screen shot in windows 10 machine mess up Covenant Screenshot does not returns as base64 encoded! After I get error like this in Data tab in UI

An unhandled exception occurred while processing the request.
FormatException: The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding character

[2021-12-19 11:40] Chomikmarkus commented on #343
Weird as it happens only on after doing screenshot on Windows 10 machine, Screenshot returnes invalid and Data tab in UI is not accessible and returnes this error

[2021-12-19 11:42] Chomikmarkus commented on #343
![Screenshot_20211219-134131](https://user-images.githubusercontent.com/92059377/146673623-a394e908-8cdb-40bc-8527-b6f946a55336.png)
![Screenshot_20211219-134113](https://user-images.githubusercontent.com/92059377/146673624-75748423-a4b4-40be-a931-fd755681bcb1.png)

[2021-12-20 15:43] cobbr commented on #343
Are you using the dev branch?

[2021-12-20 16:43] Chomikmarkus commented on #343
Just migrated, thanks!

[2021-12-20 16:43] #343 closed, assigned to nobody

[2021-12-28 10:44] Vazza202 opened #345 "Well done!"
I love this application, this is so well done and it's very impressive. Way better than Powershell empire.
This is not a issue but i really really do love this. I hope you guys really stick to updating this... I'll even pay cause it's so well done.
Thanks again!

[2021-12-30 01:04] #345 closed, assigned to nobody

[2022-01-02 21:59] makim0n commented on #341
Got the same issue. Covenant dev branch too and Debian OS as host. Targets OS : Windows Server 2012/2016.

[2022-01-04 10:37] #340 closed, assigned to cobbr

[2022-01-04 12:01] mimidogz opened #346 "[Bug] When there are many tasks, smb grunt cannot connect normally"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
Because of the lack of efficient data query, Memory limitation caused smb grunt cannot be connected normally.

Code location:
https://github.com/cobbr/Covenant/blob/f831778e836f49b5817c1a847d404f708b96b1ad/Covenant/Models/Listeners/InternalListener.cs#L648

The following exception may be thrown:
`Cannot write more bytes to the

[2022-01-06 21:18] agreenbhm commented on #327
I just encountered this issue as well.  I was finally able to pinpoint the cause, which was that something was being sent through my corporate web proxy when creating the listener (which was then subsequently timing out).  I had http_proxy and https_proxy envvars set in my shell that I was launching Covenant from.  Once I unset those vars and launched Covenant it worked as normal.

[2022-01-11 15:44] S1nEat3r opened #347 "[Bug] No sections functioning"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
I have recently installed covenant on my kali machine and after installing the dotnet sdk, I built and ran covenant. ONce logged in I tried to create a listner and nothing happens, when I click any option in the c2 nothig happens. I am seeing the following error (see screenshot).

**To Reproduce**
Steps to reproduce the behavi

[2022-01-12 04:34] seckek opened #348 "[Bug] Dev branch - Covenant doesn't start if the listener interface is no longer available"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
If a listener is configured for an interface that no longer exists (eg. tun0) Covenant is unable to start.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a listener in covenant
2. Disable the interface the listener was using (eg. by using "ifconfig eth0 down")
3. Restart covenant
4. Observe the "Cannot assign req

[2022-01-18 15:45] ZerkerEOD commented on #193
@cobbr is there a guide to adding a certificate to the listeners? I can't seem to find one. The above three lines don't work for me in the Data directory.

[2022-01-19 00:51] bitBossBBQ commented on #258
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x#global-packages-folder

The documentation for **dotnet restore** states that once downloaded, nuget packages are saved using the --packages option.  If not specified, the packages are stored in ~/.nuget/packages.  In order to get the dependencies for offline use you can use **dotnet restore** from the same directory y

[2022-01-23 18:03] cybertuxh4xor commented on #34
How do you do that?
i am running into the same issues
uninitialized on any command i run

[2022-01-23 18:04] cybertuxh4xor commented on #34
i do not see how to fix the issue in this post

[2022-01-23 18:14] cybertuxh4xor opened #350 "[Bug|Feature Request] Short Description of Issue"
any command I type sayUninitialized. What is the fix for this.
Covenant is starting with sudo.

[2022-01-24 23:03] cybertuxh4xor commented on #350
**********UPDATE******************
This issues can be caused by not setting a future date on your payload or the date is bugged and finding and removing the covenant.db file will fix this issues.

[2022-01-26 20:20] ZerkerEOD opened #351 "[Bug] User priv escalation"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
It seems a normal user can alter their privileges and upgrade to Administrator themselves.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a user
2. Select Users on the left.
3. Click on your user.
4. Select the drop down for edit roles
5. Click Administrator and wait for a checkmark
6. Click on the screen anyw

[2022-01-28 04:42] archmangler opened #352 "[Bug] Swagger endpoint missing"
**Feature Request or Bug**

When  accessing the swagger endpoint as in the documentation () I get the following response in the browser:

"Page not found
Sorry, but there's nothing here!"

I can access the api directly though.

**Describe the feature request or bug**

Make Swagger available, or provide complete CURL-based examples of every API operation possible.

**To Reproduce**

Steps to reprod

[2022-01-28 09:23] rasta-mouse commented on #352
I didn't try it in Docker specifically, but the URI should be `/swagger/index.html`.

[2022-01-29 19:28] archmangler commented on #352
HI @rasta-mouse, I get blank:

![image](https://user-images.githubusercontent.com/3898404/151674827-eae4bcc9-ab0d-4373-9327-252768ce0772.png)

Just a white screen.

[2022-01-30 21:38] ghost commented on #352
Swagger only works in development mode.
```docker run -it -p 7443:7443 -p 80:80 -p 443:443 -e ASPNETCORE_ENVIRONMENT=Development --name covenant -v </absolute/path/to/Covenant/Covenant/Data>:/app/Data covenant```

[2022-01-31 02:13] archmangler commented on #352
Thanks @SecurityAndStuff

[2022-01-31 02:13] #352 closed, assigned to cobbr

[2022-01-31 14:00] #350 closed, assigned to cobbr

[2022-02-11 03:56] xiaoheiccc commented on #348
BindAddress should be 0.0.0.0

[2022-02-11 04:20] seckek commented on #348
Wouldn't 0.0.0.0 listen on all interfaces which is different to using only one interface? I don't think that the intention is for users to always use 0.0.0.0, otherwise why have the option to change the BindAddress

[2022-02-12 08:30] jfmaes opened #356 "[Bug] maketoken with LOGON32_LOGON_INTERACTIVE hangs grunt indefinetly"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
when using the `maketoken` task, the grunt hangs if interactive logon is needed

**To Reproduce**
try and make a token for a local user and use interactive logontype

**Expected behavior**
A new token

**Screenshots**
![image](https://user-images.githubusercontent.com/55604242/153703785-db3c2728-91e1-45d0-935e-709b537800b3.png

[2022-03-29 07:47] UserXGnu opened #358 "[Question =-D] How to update mimikatz on covenant master branch?"
So, I'd like to update mimikatz to my build of covenant, I'm using the master branch and it has that old mimikatz bug when using logonpasswords.

I've tried compiling mimikatz using second_release, copying the dlls and also tried using Out-CompressedDll.ps1 to generate the .dll.comp in the /resource folder for sharpsploit.

I've also tried just copying the whole sharpsploit, and yaml tasks from th

[2022-04-01 02:26] havocsh commented on #263
This happens when you're using a launcher to connect to a listener via a NAT IP address. In other words, the IP address the listener is bound to is different from the Covenant host's public IP address. To fix it, add another ConnectAddress to the listener as shown in the screenshot.

<img width="1403" alt="Covenant_ConnectAddresses" src="https://user-images.githubusercontent.com/44458038/161182868

[2022-04-05 18:51] 0xVavaldi commented on #329
If you're RDPing there's a good chance it will get cut off - try hosting the file instead via launcher->powershell->host panel

My RDP was giving me this error:
[code]

[2022-04-22 16:41] abraidotti commented on #34
@funappfactory  I understand how to set the time zone, but what do you mean by "configuring" the date? The date seems right.

[2022-05-13 10:09] rasta-mouse commented on #358
https://offensivedefence.co.uk/posts/covenant-powerkatz/

[2022-05-16 14:52] UserXGnu commented on #358
Thank you man! It worked just fine!

[2022-05-16 14:52] #358 closed, assigned to cobbr

[2022-05-20 13:00] jannlemm0913 commented on #331
@sS3cur3Th1sSh1t has recently written a blog post showing how to modify the staged palyoad to a stageless payload. I'm just sharing the link here because I remembered there being an open issue about this :)

Blog post: https://s3cur3th1ssh1t.github.io/Covenant_Stageless_HTTP/

[2022-05-27 20:20] 0xVavaldi opened #359 "Graph always shows grunts, even when hidden"
![image](https://user-images.githubusercontent.com/33965786/170783870-8a9d1ec7-91dc-4bb4-a9fd-33c134f8ce4c.png)
I'm currently testing out Covenant for the first time so naturally, that comes with a lot of failed grunts / early killed grunts.
Since grunts can not be deleted, I hide them. But they still show up in the graph, which is a little annoying

I was wondering if perhaps a small checkbox cou

[2022-05-28 08:45] AppSecExplained commented on #34
same issue here

[2022-06-11 02:58] rootabeta opened #360 "[question] Is this project abandonware?"
Title says it all. It's been over a year since the last commit - are there any plans to update Covenant in the future?

[2022-06-11 15:16] cobbr commented on #360
The last commit was 5 months ago 🙂

I still use the project regularly. I'd eventually like to get back to more regular development, but it will depend on competing priorities.

[2022-06-11 15:16] #360 closed, assigned to nobody

[2022-06-14 09:05] jannlemm0913 opened #361 "[Question] Looking for task that consistently crashes a Grunt"
I am working on a kind of persistence mechanism that starts when a Grunt crashes. Currently, I am crashing the Grunt process manually with a PoC and the persistence mechanism works as desired.

However, I would like to test this in a more "realistic" way, preferably with a task that crashes a Grunt. Searching through the open issues, I haven't found a Grunt crashing task and have not found one mys

[2022-06-14 09:34] rasta-mouse commented on #361
It depends on what sort of crash you want to simulate.  In most cases, a "crash" would just be the result of an unhandled exception somewhere.  You could throw an arbitrary exception in a task by just doing `throw new Exception();`.  However, the Grunt should catch that exception and ensure the process itself doesn't exit.  If you just want to simulate the process closing, then `Environment.Exit()

[2022-07-11 08:39] er4z0r opened #363 "[Bug] Covenant Crashes When BindAdress for Listener Unavailable"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
When a covenant listener was previously configured to start on a specific IP (e.g. the one of a tun0 interface of a VPN connection) that is not available during startup covenant will fail to start.

**To Reproduce**
Steps to reproduce the behavior:
1. Confiugre a Listener bound to a specific IP
2. Stop Covenant
3. Down the int

[2022-07-11 08:49] er4z0r commented on #363
Workaround for anyone facing this issue (tooling may vary depending on your OS):

1. Go to Covenant/Covenant folder
2. Create backup of Data/covenant.db: `tar cvJf covenant.db.tar.xz Data/covenant.db`
3. Open the database using sqlite3: `sudo sqlite3 Data/covenant.db`
4. Check for the problematic listener (the one with the IP that is no longer bound to any of your interfaces):  `sqlite> select Nam

[2022-07-11 08:57] rasta-mouse commented on #363
Looks like a dup of #348

[2022-07-11 09:25] er4z0r commented on #363
Indeed. Closing as dup.

[2022-08-03 14:32] smallfox233 opened #364 "how to install by docker"
what is "/app/Data"?
</absolute/path/to/Covenant/Covenant/Data>:/app/Data

[2022-08-05 13:02] jannlemm0913 commented on #364
That should just be a directory inside your Docker container. From Covenant's wiki on Docker installations: "The -v parameter creates a shared Data directory between the host and the container."
I don't run Covenant from a container, but I would guess that folder is already part of the container image that you can download and build, or is there an error when you run the command?

[2022-08-07 05:01] smallfox233 commented on #364
thank you

[2022-08-12 14:29] cairo7x34 commented on #242
Has this been resolved or moved to another ticket?

The issue is still present, and it doesn't appear that the certificate is in use.

[2022-09-08 03:54] IMnewer opened #365 "same GruntHTTP.exe, different error."
GruntHTTP
Net40
useSSL

It can run in Win7 x64, but failed in Server 2012 R2:

Illegal characters in path.
   at System.Security.Permissions.FileIOPermission.EmulateFileIOPermissionChecks(String fullPath)
   at System.Security.Permissions.FileIOPermission.QuickDemand(FileIOPermissionAccess access, String fullPath, Boolean checkForDuplicates, Boolean needFullPath)
   at System.Net.WebClient.GetUri(

[2022-09-19 05:27] mohinparamasivam opened #366 "[Bug] Covenant Graph doesn't link SMBGRUNT after Disconnect"
**Feature Request or Bug**
Bug

**Describe the feature request or bug**
The SMB Grunt is not linked to the grunt that attempts to **"connect"**, the SMB node color is not changed to green and is displayed similarly to an HTTP Grunt.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to SMB Grunt from HTTP GRUNT A
2. Disconnect SMB Grunt from HTTP GRUNT A
3. Connect to SMB Grunt from HTT

[2022-09-21 04:58] mohinparamasivam commented on #366
@cobbr  Please do take a look into this issue

[2022-10-02 15:43] memuratozturk opened #367 "[Bug|Error Request] Process terminated. Couldn't find a valid ICU package"
Process terminated. Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.
   at System.Environment.FailFast(System.String)
   at System.Globalization.GlobalizationMode.GetGlobalizationInvariantMode()
   at System.Globalization.GlobalizationMode..cctor()
   at System.Globalizatio

[2022-10-12 05:54] FalcoGer opened #368 "[Feature Request] Migrate to .NetCore 6"
**Feature Request or Bug**
Feature Request

**Describe the feature request or bug**
.NetCore 3.1 is near EOL and will not get patched to work with libssl3 which is the default library for Ubuntu22.04. .NetCore 3.1 is not installable in the latest ubuntu versions, neither with the ubuntu repositories, nor the microsoft ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install dotne

[2022-10-20 08:56] georgebecerescu opened #369 "listener not working if connect address is on Public IP"
Hi,
I've installed Covenant twice on aws and tried listener with both it's own public ip address (IP and Public IP DNS) and with a redirector public ip but each time a grunt is not return. I've tried with defaultHTTP profile and customHTTP profile. Inbound rules on aws are allowing 80 and 443. I've tried multiple launchers with security disabled on the tested machine. The launcher seems to be corr

[2022-10-28 07:25] FalcoGer commented on #282
What's the format for the password hash in the database? I want to recover my lost password with hashcat, but I couldn't find which format it uses from the source code. I traced it back to "SignInManager" apparently checking if it's correct or not, but no more info than that.

[2022-10-28 07:38] FalcoGer commented on #282
Deleting the database file seemed to have done the trick anyhow. Would still be nice to know though.

[2022-11-01 07:22] kymb0 commented on #367
Are you by any chance using a new version of *nix? I am now getting this after spinning up a new kali box  2022.3 (previously on 2021.4a)

EDIT: Confirmed to be resolved for me by downgrading from kali 2022.3 to kali 2022.2
@cobbr @memuratozturk